.block { display: block; }
// user booking
.booking-main { padding: 20px 0; }
.booking-section {
  padding: 20px;
  margin: 10px 0;
  background-color: #fff;
  .nav-tabs { border: none; }
  .nav-tabs > li > a {
    margin: 0px 26px;
    @extend .font-raleway;
    @extend .color-grey;
    border: none;
    border-bottom: 3px solid transparent;
    font-size: 15px;
    &:hover { background-color: #fff; }
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    @extend .font-raleway;
    @extend .color-grey;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid $brand-success;
  }
  .tab-content {
    padding: 20px 25px;
  }
}
.account-history {
  font-size: 13px;
  font-weight: 400;
  th {
    border: 1px solid #d7e5f7;
    background-color: #d7e5f7;
    font-weight: 400;
    text-align: center;
  }
  tbody > tr > td {
    padding: 16px 8px;
    border: 1px solid #ccc;
    border-top: none;
    vertical-align: middle;
  }
  .completed { @include square(50px); }
}
.outline-single {
  border: 2px solid #bdbdbd;
  margin: 20px 0;
  overflow: hidden;
}
.single-completed {
  padding: 10px;
  text-align: center;
  .print-icon {
    float: right;
    font-size: 25px;
  }
  .name {
    margin-top: 5px;
    font-size: 15px;
  }
  .price { font-size: 16px; }
}
.user-imgholder {
  @include square(100px);
  img {
    max-height: 100%;
    margin: 0 auto;
  }
}
.tag-line { font-size: 16px; }
.sec-searchbar {
  overflow: hidden;
  img { width: 100%; }
  .searchbar-center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
  .search-br { margin-right: 7px; }
}
.feedback {
  margin: 20px 0;
  textarea.form-control {
  min-height: 100px;
  margin: 10px 0px 15px;
  resize: none;
 }
}
.user-detail {
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  span { font-size: 12px; }
}
.main-links {
  .breadcrumb {
    background-color: transparent;
    li a { color: #000; }
    li + li:before {
      content: ">";
      color: #000;
    }
    li:last-child a { color: $brand-success; }
  }
}
// end user booking

// terms and condition
.contact {
  padding: 20px 30px 60px;
  border: 2px solid #ccc;
  background-color: #fff;
  h3 {
    margin: 10px 0 30px;
    color: #474d4f;
  }
}
// end terms and condition
