@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/angular-rangeslider/angular.rangeSlider.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #ff8621 !default;
$brand-success: #588ed0 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-base: #474d4f !default;
$grey-base: #969696 !default;
$facebook: #3b5998 !default;
$google: #dc4a38 !default;
$white: #fff !default;
$transparent: rgba(255, 255, 255, 0) !default;
$bold: 600 !default;
$light: 300 !default;
$font-family-sans-serif: "Lato","Raleway", sans-serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
  // padding-top: 70pxf7f7f7;
  background-color: #f7f7f7;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
.ng-hide:not(.ng-hide-animate) {
  display: block !important;
}
/* mixing*/
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin x-appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}
a {
  color: $white;
  &:hover {
    text-decoration: none;
    color: $white;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
    color: $white;
  }
}
.color-white {
  color: $white;
}
.font-bold {
  font-weight: bold;
}
.font-light {
  font-weight: 300;
}
.margin0 {
  margin: 0;
}
.padding0 {
  padding: 0;
}
.display-inline {
  display: inline-block;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt15 {
  margin-top: 15px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.pb10 {
  padding-bottom: 10px;
}
.pd20 {
  padding-bottom: 20px;
}
.mt30 {
  margin-top: 30px;
}
.custom-li {
  ul {
    display: block;
    list-style: none;
    li {
      display: inline-block;
    }
  }
}
.margin-auto {
  margin: 0 auto;
}
.text-up {
  text-transform: uppercase;
}
.text-cap {
  text-transform: capitalize;
}
.font-raleway {
  font-family: 'Raleway';
}
/* Start writing sass here */
@import "fancybox-override";
.home {
  height: 667px;
  position: relative;
  overflow: hidden;
}
//header
.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(231, 231, 231, 0);
  padding: 10px 0;
}
.logo {
  @include margin(14px 0px 0px 18px);
}
.btn-become {
  @include button-variant($white, $transparent, $white);
  &:hover {
    border-color: $white;
  }
  &:focus {
    border-color: $white;
  }
  &:acive {
    border-color: $white;
  }
}
.btn-blue {
  @include button-variant($white, $brand-success, $brand-success);
}
.btn-org {
  @include button-variant($white, $brand-primary, $brand-primary);
}
.btn-outline {
  @include button-variant($brand-primary, $transparent, $brand-primary);
}
.btn-facebook {
  @include button-variant($white, $facebook, $facebook);
  width: 100%;
  padding: 12px 12px;
  i {
    font-size: 14px;
  }
}
.btn-google {
  @include button-variant($white, $google, $google);
  width: 100%;
  padding: 12px 12px;
  i {
    font-size: 14px;
  }
}
.color-success {
  color: $brand-success;
}
.btn {
  border-radius: 0;
  &:focus {
    outline: 0;
  }
  &:hover {
    outline: 0;
  }
  &:active {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
    &:focus {
      outline: 0;
    }
  }
}
.righ-side {
  ul {
    li {
      padding: 0 12px;
    }
  }
}
.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.38);
  top: 0;
  left: 0;
  z-index: 1;
}
.video {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
}
.hero__background {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.home-contain {
  position: absolute;
  width: 100%;
  z-index: 9;
  height: 100%;
  z-index: 9;
}
.need-help {
  position: absolute;
  transform: rotate(-90deg);
  right: -88px;
  top: 30%;
  button {
    font-size: 16px;
    padding: 12px 16px;
  }
}
.search-pos {
  position: absolute;
  width: 100%;
  top: 50%;
}
.search-icon {
  position: absolute;
  left: 15px;
  top: 10px;
}
.search-input {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.search-br {
  width: 83%;
  float: left;
  input {
    padding: 6px 10px 6px 50px;
    height: 40px;
    font-size: 14px;
  }
}
.form-control {
  border-radius: 0;
  &:focus {
    outline: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);

  }
  &:active {
    outline: 0;
  }
}
.pos-relative {
  position: relative;
}
input {
  @include placeholder {
    font-weight: 300;
    font-size: 14px;
  }
}
.search-btn {
  button {
    font-size: 15px;
    padding: 9px 25px;
  }
}
.signup.text-center {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
  background: rgba(255, 134, 33, 0.66);
  width: 100%;
  padding: 15px 0;
  h2 {
    margin: 0;
    font-weight: 300;
  }
}
.m70 {
  margin: 60px 0;
}
.f13 {
  font-size: 13px;
}
.color-primary {
  color: $brand-primary;
}
.color-base {
  color: $brand-base;
}
.color-grey {
  color: $grey-base;
}
.about {
  background-color: #cecece;
}
.line-80 {
  line-height: 180%;
}
.p50 {
  padding: 50px 0;
}
.p70 {
  padding: 70px 0;
}
.mt60 {
  margin-top: 60px;
}
.mt50 {
  margin-top: 50px;
}
.mt7 {
  margin-top: 7px;
}
.font-med {
  font-weight: 500;
}
.pl12 {
  padding-left: 12px;
}
.cat-list {
  width: 70%;
  ul {
    list-style: none;
    li {
      padding: 16px 0;
      border-bottom: 1px solid #c8c8c8;
      a {
        color: #969696;
        font-weight: 300;
        vertical-align: sub;
        i {
          padding-right: 12px;
          font-size: 28px;
          vertical-align: sub;
          color: #c8c8c8;
        }
      }
    }
  }
}
.pad-list {
  ul {
    li {
      padding: 15px 0;
    }
  }
}
.badge {
  display: inline-block;
  /* min-width: 10px; */
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  vertical-align: sub;
  white-space: nowrap;
  text-align: center;
  background-color: #FF8521;
  border-radius: 100%;
  margin: -5px 0 0;
}
.update-box {
  width: 80%;
  .date {
    padding: 5px 0;
    margin: 0;
  }
  .desc-p {
    padding-top: 28px;
    padding-bottom: 10px;
    p {
      font-weight: 300;
      color: #969696;
      line-height: 150%;
      font-size: 13px;
    }
  }
  .recc {
    span {
      font-size: 11px;
      color: #588ed0;
      vertical-align: bottom;
    }
  }
}
.f10 {
  font-size: 10px;
}
.slider-testimonial {
  background-color: #cecece;
  .flexslider {
    margin: 0 10px;
    background: rgba(255, 255, 255, 0);
    border: 0 solid #CECECE;
  }
  .flex-direction-nav {
    display: none;
  }
  .flex-control-nav {
    bottom: 0;
  }
}
.footer-menu {
  ul {
    list-style: none;
    li {
      padding: 4px 0;
      a {
        color: #969696;
        font-weight: 300;
        text-transform: capitalize;
      }
    }
  }
}
.footer {
  border-top: 1px solid #c8c8c8;
  padding-top: 50px;
}
.sub-footer {
  background-color: #292624;
  color: #fff;
  padding: 15px 0;
}
.bk-grey {
  background-color: #cecece;
}
.social-set {
  ul {
    list-style: none;
    display: block;
    margin-top: 10px;
    li {
      display: inline-block;
      padding: 0 4px;
      a {
        i {
          color: #959595;
          border: 1px solid #959595;
          font-size: 19px;
          border-radius: 100%;
          height: 30px;
          width: 30px;
          padding: 5px 6px;
        }
      }
    }
  }
}
.icon-mail{
  position: absolute;
right: 6px;
top: 4px;
i{
  font-size: 20px;
  color:#717171;
}
}
.log{
      padding: 6px 30px 0px 12px;
      border: 2px solid #a4a4a4;
      @include placeholder {
        font-weight: 400;
        font-size: 10px;
      }
}
.login-btn{
  .btn{
    width: 100%;
    text-align: center;
      padding: 10px 10px;
  }
}
.mt5{
  margin-top: 5px;
}
.forg-pass{
  a{
    &:hover{
      color:$brand-primary;

    }
    &:focus{
      color:$brand-primary;
    }
  }
}
.pointer{
  cursor: pointer;
}
.other{
  p{
    border-top: 1px solid #ccc;
  }
}
@import "amit";
