<section class="mt70">
  <div class="">
    <div class="" ng-include="template.searchbar"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main-links mt25">
          <ul class="breadcrumb padding0">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li><a href="#" class="active text-uppercase">about </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-search">
    <div class="container">
      <div class="contact">

        <h4 class="text-center color-base font-bold text-up">about jacknow</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="faq">
              <div class="qsn-ans">

                <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES, AND OBLIGATIONS TO COMPLY WITH APPLICABLE LAWS AND REGULATIONS.</p>
                <p class="mt20">
                  If you are using the Site, Application or Services and you reside in the USA, you are contracting with Airbnb, Inc. with respect to use of the Site, Application or Services, and with Payments, Inc. with respect to any payments or payouts from
                    or to you conducted through the Site, Application or Services. If you reside outside of the USA, you are contracting with Airbnb Ireland with respect to use of the Airbnb Site, Application or Services, and with Payments UK Ltd. with respect
                    to any payments or payouts from or to you conducted through the Site, Application or Services. If you initially reside in the USA and contract with , Inc. and/or Payments, Inc., but subsequently change your residence to outside of the USA, you
                    will contract with Ireland from the date on which your place of residence changes, and vice versa. (If you are using the Site, Application or Services and you reside in the USA, you are contracting with Airbnb, Inc. with respect to use of the
                    Airbnb Site, Application or Services, and with Airbnb Payments, Inc. with respect to any payments or payouts from or to you conducted through the Site, Application or Services. If you reside outside of the USA, you are contracting with Airbnb
                    Ireland with respect to use of the Airbnb Site, Application or Services, and with Airbnb Payments UK Ltd. with respect to any payments or payouts from or to you conducted through the Site, Application or Services.
                </p>
                <p>
                  If you are using the Site, Application or Services and you reside in the USA, you are contracting with Airbnb, Inc. with respect to use of the Site, Application or Services, and with Payments, Inc. with respect to any payments or payouts from
                    or to you conducted through the Site, Application or Services. If you reside outside of the USA, you are contracting with Airbnb Ireland with respect to use of the Airbnb Site, Application or Services, and with Payments UK Ltd. with respect
                    to any payments or payouts from or to you conducted through the Site, Application or Services. If you initially reside in the USA and contract with , Inc. and/or Payments, Inc., but subsequently change your residence to outside of the USA, you
                    will contract with Ireland from the date on which your place of residence changes, and vice versa. (If you are using the Site, Application or Services and you reside in the USA, you are contracting with Airbnb, Inc. with respect to use of the
                    Airbnb Site, Application or Services, and with Airbnb Payments, Inc. with respect to any payments or payouts from or to you conducted through the Site, Application or Services. If you reside outside of the USA, you are contracting with Airbnb
                    Ireland with respect to use of the Airbnb Site, Application or Services, and with Airbnb Payments UK Ltd. with respect to any payments or payouts from or to you conducted through the Site, Application or Services.
                </p>
                <p>
                  If you are using the Site, Application or Services and you reside in the USA, you are contracting with Airbnb, Inc. with respect to use of the Site, Application or Services, and with Payments, Inc. with respect to any payments or payouts from
                    or to you conducted through the Site, Application or Services. If you reside outside of the USA, you are contracting with Airbnb Ireland with respect to use of the Airbnb Site, Application or Services, and with Payments UK Ltd. with respect
                    to any payments or payouts from or to you conducted through the Site, Application or Services. If you initially reside in the USA and contract with , Inc. and/or Payments, Inc., but subsequently change your residence to outside of the USA, you
                    will contract with Ireland from the date on which your place of residence changes, and vice versa. (If you are using the Site, Application or Services and you reside in the USA, you are contracting with Airbnb, Inc. with respect to use of the
                    Airbnb Site, Application or Services, and with Airbnb Payments, Inc. with respect to any payments or payouts from or to you conducted through the Site, Application or Services. If you reside outside of the USA, you are contracting with Airbnb
                    Ireland with respect to use of the Airbnb Site, Application or Services, and with Airbnb Payments UK Ltd. with respect to any payments or payouts from or to you conducted through the Site, Application or Services.
                </p>
                <p>
                  If you are using the Site, Application or Services and you reside in the USA, you are contracting with Airbnb, Inc. with respect to use of the Site, Application or Services, and with Payments, Inc. with respect to any payments or payouts from
                    or to you conducted through the Site, Application or Services. If you reside outside of the USA, you are contracting with Airbnb Ireland with respect to use of the Airbnb Site, Application or Services, and with Payments UK Ltd. with respect
                    to any payments or payouts from or to you conducted through the Site, Application or Services. If you initially reside in the USA and contract with , Inc. and/or Payments, Inc., but subsequently change your residence to outside of the USA, you
                    will contract with Ireland from the date on which your place of residence changes, and vice versa. (If you are using the Site, Application or Services and you reside in the USA, you are contracting with Airbnb, Inc. with respect to use of the
                    Airbnb Site, Application or Services, and with Airbnb Payments, Inc. with respect to any payments or payouts from or to you conducted through the Site, Application or Services. If you reside outside of the USA, you are contracting with Airbnb
                    Ireland with respect to use of the Airbnb Site, Application or Services, and with Airbnb Payments UK Ltd. with respect to any payments or payouts from or to you conducted through the Site, Application or Services.
                </p>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
