<section class="mt70 space-top">
  <div class="">
    <div class="" ng-include="template.searchbar"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main-links mt25">
          <ul class="breadcrumb padding0">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li class="active text-uppercase color-success">about </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-search">
    <div class="container">
      <div class="contact">

        <h4 class="text-center color-base font-bold text-up">about jacknow</h4>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="faq text-justify">
              <div class="qsn-ans">

                <p >
              If you're looking for a solution to anything under the sun, trust Jack - He knows.
                </p>
                <p>
  We're an exciting start-up in the peer-to-peer professional service domain, looking to connect people with subject matter experts for customised requests and queries. The platform will house experts across industries, who will assist our users by dishing out pro advice at a nominal fee! No more unnecessary office trips - it's all from the comfort of your living room. Whatever your request, we've got you covered.  </p>

              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
