<section class="mt70 space-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main-links mt25">
                    <ul class="breadcrumb padding0">
                        <li><a href="#/home" class="text-uppercase">Home</a></li>
                        <li><a href="#" class=" text-uppercase">profile</a></li>
                        <li class="active text-uppercase">book now</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">

        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
                <div class="conten-box" ng-hide="formComplete || alreadyBooked || nouser">
                    <form name="user" class="form-input" ng-submit="userSubmitForm(user)">
                        <div class="login-form cust-form">
                            <h4 class="text-up text-center color-base">book now</h4>

                            <div class="mail mt15 pos-relative">
                                <label for="">Select Date</label>
                                <p class="input-group">
                                    <!-- <input name="bookDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userForm.bookDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" /> -->
                                    <input type="text" name="bookDate" class="form-control" uib-datepicker-popup is-open="popup2.opened" datepicker-options="ptions" ng-required="true" close-text="Close" ng-model="userForm.bookDate" date-disabled="disabled(date,mode)" required/>
                                    <span class="input-group-btn">
           <button type="button" class="btn btn-default pad" ng-click="open2()"><i class="ln-calendar3"></i></button>
         </span>
                                    <!-- <input type="text" id="datepicker" uib-datepicker-popup="{{dateformat}}" ng-model="dt" is-open="showdp" date-disabled="disabled(date, mode)" />
                <span>
                    <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span> -->
                                    <!-- <p class="input-group">Date: <input type="text" id="datetimepicker5" /></p> -->
                                    <!-- <div class='input-group date' id='datetimepicker5'>
                                   <input type='text' class="form-control" />
                                   <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                   </span>
                               </div> -->

                                </p>
                            </div>
                        </div>
                        <div class="mail mt15 pos-relative">
                            <label for="">Select Time</label>
                            <br>

                            <!-- <input type="time" ng-min="minTinme" name="" style="width: 100%;height: 34px;" ng-model="userForm.bookTime" required> -->
                            <uib-timepicker ng-model="userForm.bookTime" min="minTime" show-meridian="false"></uib-timepicker>
                        </div>
                        <div class="mail mt15 pos-relative">
                            <label for="">Select Duration</label>
                            <select name="duration" class="form-control display-inline pos-relative pointer" ng-model="userForm.callDuration" value="{{dur}}" required>
                                <!-- <option>SELECT DURATION</option> -->
                                <option ng-repeat="dur in duration" ng-init="userForm.callDuration='30 Min'">{{dur}}</option>
                                <!-- <option>30 Min</option>
                            <option>1:30 Min</option>
                            <option>2 Hr</option> -->
                            </select>
                            <!-- <div class="error-msg" ng-show="user.duration.$error.required && user.duration.$touched">Please Enter Duration.
                        </div> -->
                            <div class="icon-mail display-inline arrow" style="top: 33px;">
                                <i class="ln-chevron-down"></i>
                            </div>
                        </div>
                        <div class="mail mt15">
                            <label for="">Ask Query</label>
                            <textarea class="form-control" rows="6" style="resize:none" placeholder="ASK QUERY" ng-model="userForm.query" required></textarea>
                        </div>
                        <div class="login-btn mt50">
                            <button class="btn btn-animate-org f10 font-light" type="submit" ng-disabled="user.$invalid">BOOK NOW</button>
                        </div>


                    </form>
                </div>
                <!-- <div class="text-center" ng-show="formComplete">
            <h3>Booking Successfully, Thank You!</h3>
          </div> -->

                <div class="no-data-found" ng-show="alreadyBooked">
                    <img src="img/owl.png" alt="">
                    <h1 class="color-primary">Whoops !</h1>
                    <p class="text-cap">Expert have been Already Booked!</p>
                </div>

                <div class="no-data-found" ng-show="formComplete">
                    <img src="img/owl.png" alt="">
                    <h1 class="color-primary">Congratulations !</h1>
                    <p class="text-cap">Booking Successfully, Thank You!</p>
                </div>

                <div class="no-data-found" ng-show="nouser">
                    <img src="img/owl.png" alt="">
                    <h1 class="color-primary">Whoops !</h1>
                    <p class="text-cap">User not logged-in</p>
                </div>

                <!-- <div class="text-center" ng-show="alreadyBooked">
      <h3>Expert have been Already Booked!</h3>
    </div> -->
            </div>
        </div>
    </div>
    </div>
</section>
