<section class="mt70 space-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main-links mt25">
                    <ul class="breadcrumb padding0">
                        <li><a href="#/home" class="text-uppercase">Home</a></li>
                        <li><a href="#" class="active text-uppercase">Change password</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
<div class="container">
    <form name="user" class="form-input">
        <div class="conten-box">
            <div class="edit-user">
                <div class="row">
                    <div class="col-md-4 col-sm-4 h5center">
                        <h5 class="font-raleway font-bold f17 color-base">CHANGE PASSWORD</h5>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-md-2 col-sm-2 col-xs-12 text-center">
                        <div class="user-img mt25">

                            <img ng-src="{{userForm.image|uploadpath}}" ng-if="userForm.image" alt="" class="img-responsive margin-auto">
                            <upload-image ng-model="userForm.image"></upload-image>
                        </div>
                        <div class="cho btn">

                        </div>
                    </div> -->
                    <div class=" col-md-4 col-sm-5 col-xs-12">
                        <div class="form-group mt25">
                            <label for="exampleInputPassword1">OLD PASSWORD</label>
                            <input type="password" name="password" class="form-control" ng-model="userForm.password" required>
                            <div class="error-msg" ng-show="user.password.$error.required && user.password.$touched">Please Enter Password.</div>
                        </div>
                        <div class="form-group mt25">
                            <label for="exampleInputPassword1">NEW PASSWORD</label>
                            <input type="password" name="changePassword" class="form-control" ng-model="userForm.changePassword" >

                        </div>


                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="border-top: 1px solid #ccc;">
                        <div class="save-btn mt25">
                            <a ui-sref="home"><button class="btn btn-blue font-light text-up f13" ng-click="userSubmitForm(user)">UPDATE</button></a>
                            <button class="btn btn-blue font-light text-up f13" ui-sref="home">CANCEL</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
</section>
