<section>
  <div class="bg-search">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="search-bar">
            <form class="form-inline">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
              </div>
              <!-- /input-group -->
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="hemberg">
            <ul>
              <li>
                <a href="">home</a>
              </li>

              <li><a href="">
                contact
              </a></li>
            </ul>
          </div>
        </div>
      </div>
<div class="contact">
  <div class="row">
    <div class="col-md-6">
      <div class="contact-add">
        <h4>CONTACT</h4>
        <p>Let us know how we can help.</p>
        <p>Share your details and we'll be in touch.</p>
        <div class="ajds">
          <p>If you do not have an active Jacknows account, please reach </p>
          <p>out  to us at <span>support@jacknows.com</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-4">
      <form action="">
        <div class="form-group">
  <label for="exampleInputEmail1">FULL NAME</label>
  <input type="email" class="form-control" id="exampleInputEmail1">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">EMAIL</label>
  <input type="email" class="form-control" id="exampleInputEmail1">
</div>
<div class="form-group">
  <label for="exampleInputEmail1">MESSAGE</label>
<input type="text" class="form-control" placeholder="Text input">
</div>
<button>SUBMIT</button>
      </form>
    </div>
  </div>
</div>
    </div>
  </div>
</section>
