<section class="mt70">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main-links mt25">
          <ul class="breadcrumb padding0">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li><a href="#" class="active text-uppercase">contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="contact">
        <h4 class="text-center color-base font-bold">CONTACT</h4>
        <div class="row mt25">
          <div class="col-md-6">
            <div class="contact-add">

              <p>Let us know how we can help.</p>
              <p>Share your details and we'll be in touch.</p>
              <div class="ajds">
                <p>If you do not have an active Jacknows account, please reach </p>
                <p>out to us at <span class="color-success">support@jacknows.com</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            <form action=""  class="form-input">
              <div class="form-group">
                <label for="exampleInputEmail1">FULL NAME</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">EMAIL</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">MESSAGE</label>
              <textarea class="form-control" rows="6" style="resize: none;"></textarea>
              </div>
              <button class="btn btn-org f13">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>

    </div>

</section>
