<section class="mt70 space-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main-links mt25">
                    <ul class="breadcrumb padding0">
                        <li><a href="#/home" class="text-uppercase">Home</a></li>
                        <li><a href="#" class="active text-uppercase">edit-user</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>

    <div class="container">
        <form name="user" class="form-input">
            <div class="conten-box">
                <div class="edit-user">
                    <div class="row">
                        <div class="col-md-4 col-sm-3 col-xs-7">
                            <h5 class="font-raleway font-bold f17 color-base">EDIT PROFILE</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12 text-center">
                            <div class="user-img mt25">
                                <!-- <img ng-src="{{userForm.image|uploadpath}}" ng-if="userForm.image" style="height:200px;"> -->
                                <img ng-src="{{userForm.image}}" ng-if="userForm.image" alt="" class="img-responsive margin-auto">
                                <upload-image ng-model="userForm.image"></upload-image>
                            </div>
                            <div class="cho btn">
                                <!-- <div class="text-center">
                <button class="btn btn-animate-inverse-success f10">CHOOSE FILE</button>
              </div> -->
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-5 col-xs-12">
                                <div class="form-group mt25">
                                <label for="exampleInputEmail1">FIRST NAME</label>
                                <input type="text" name="firstName" class="form-control" id="exampleInputEmail1" ng-model="userForm.firstName" required>
                                <div class="error-msg" ng-if="user.firstName.$error.required && user.firstName.$touched">Please Enter Your First Name.</div>
                            </div>
                            <div class="form-group mt25">
                                <label for="exampleInputPassword1">LAST NAME</label>
                                <input type="text" name="lastName" class="form-control" id="exampleInputEmail1" ng-model="userForm.lastName" required>
                                <div class="error-msg" ng-if="user.lastName.$error.required && user.lastName.$touched">Please Enter Your First Name.</div>
                            </div>
                            <div class="form-group mt25">
                                <label for="exampleInputEmail1">EMAIL</label>
                                <input type="email" name="email" class="form-control" ng-model="userForm.email" required>
                                <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email.</div>
                            </div>
                            <div class="form-group mt25">
                                <label for="exampleInputPassword1">MOBILE NUMBER</label>
                                <input type="text" name="mobile" class="form-control" id="exampleInputEmail1" ng-model="userForm.mobile" required>
                                <div class="error-msg" ng-if="user.mobile.$error.required && user.mobile.$touched">Please Enter Your Mobile Number.</div>
                            </div>
                            <!-- <div class="form-group mt25">
                                <label for="exampleInputPassword1">PASSWORD</label>
                                <input type="password" name="password" class="form-control" ng-model="userForm.password" required>
                                <div class="error-msg" ng-show="user.password.$error.required && user.password.$touched">Please Enter Password.</div>
                            </div>
                            <div class="form-group mt25">
                                <label for="exampleInputPassword1">CHANGE PASSWORD</label>
                                <input type="password" name="changePassword" class="form-control" ng-model="userForm.changePassword" >

                            </div> -->
                            <div class="form-group mt25">
                                <label for="exampleInputPassword1">ADDITATIONAL INFORMATION</label>
                                <textarea class="form-control" rows="6" style="resize: none;" ng-model="userForm.additionalInfo" required></textarea>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 " style="border-top: 1px solid #ccc;">
                            <div class="save-btn mt25">
                                <button class="btn btn-blue font-light text-up f13" ng-click="userSubmitForm(user)">UPDATE</button>
                                <button class="btn btn-blue font-light text-up f13" ui-sref="home">CANCEL</button>
                            </div>
                        </div>
                    </div>
                      
                </div>
            </div>
        </form>
    </div>
</section>
