<section class="mt70 space-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main-links mt25">
                    <ul class="breadcrumb padding0">
                        <li><a href="#/home" class="text-uppercase">Home</a></li>
                        <li><a href="#" class="active text-uppercase">profile setting</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <div class="conten-box">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="exp-setting custom-li">
                        <ul class="padding0">
                            <li class="{{classa}} text-up" ng-click="tabchange('personal',1)">Personal DetailS</li>
                            <li class="{{classb}} text-up" ng-click="tabchange('professional',2)">Professional Details</li>
                            <li class="{{classc}} text-up" ng-click="tabchange('call',3)">Call Setting</li>
                            <li class="{{classd}} text-up" ng-click="tabchange('bank',4)">BANK DETAILS</li>
                        </ul>
                    </div>
                    <div class="exp-personal mt30" ng-if="tab2=='personal'">
                        <form name="user" class="form-input">
                            <div class="set-title">
                                <h5 class="font-raleway font-bold f17 color-base">PERSONAL INFORMATION</h5>
                            </div>
                            <div class="row mt25">
                                <div class="col-md-4 col-sm-5">
                                    <div class="form-group ">
                                        <label for="exampleInputEmail1">FIRST NAME</label>
                                        <input type="text" name="firstName" class="form-control" id="exampleInputEmail1" ng-model="userForm.firstName" required>
                                        <div class="error-msg" ng-if="user.firstName.$error.required && user.firstName.$touched">Please Enter Your First Name.</div>
                                    </div>
                                    <div class="form-group mt25">
                                        <label>Sales Pitch <span class="f10 color-success"></span></label>
                                        <input type="text" name="salesPitch" class="form-control" ng-model="userForm.salesPitch" required>
                                        <div class="error-msg" ng-show="user.salesPitch.$error.required && user.salesPitch.$touched">Please Enter Your Sales Pitch.</div>
                                    </div>
                                    <!--<div class="form-group mt25">
                                        <label>PASSWORD</label>
                                        <input type="password" name="password" class="form-control" ng-model="userForm.password" required>
                                        <div class="error-msg" ng-show="user.password.$error.required && user.password.$touched">Please Enter Password.</div>
                                    </div> -->
                                    <div class="form-group mt25">
                                        <label>GENDER</label>
                                        <div class="rad">
                                            <div class="radio display-inline">
                                                <input type="radio" id="radio01" name="gender" value="male" ng-model="userForm.gender" required/>
                                                <label for="radio01"><span></span>MALE</label>
                                            </div>
                                            <div class="radio display-inline pl12">
                                                <input type="radio" id="radio02" name="gender" value="female" ng-model="userForm.gender" required/>
                                                <label for="radio02"><span></span>FEMALE</label>
                                            </div>
                                            <div class="error-msg" ng-show="user.gender.$error.required && user.gender.$touched">Please Select Gender.</div>
                                        </div>
                                    </div>
                                    <!-- </form> -->
                                </div>
                                <div class="col-md-4 col-sm-5">
                                    <!-- <form action=""  class="form-input"> -->
                                    <div class="form-group ">
                                        <label>LAST NAME</label>
                                        <input type="text" name="lastName" class="form-control" ng-model="userForm.lastName" required>
                                        <div class="error-msg" ng-show="user.lastName.$error.required && user.lastName.$touched">Please Enter Your Last Name.</div>
                                    </div>
                                    <div class="form-group mt25">
                                        <label>MOBILE NUMBER <span class="f10 color-success">( NOT TO BE SHARED PUBLICALLY )</span></label>
                                        <input type="text" name="mobileno" class="form-control" ng-model="userForm.mobileno" required>
                                        <div class="error-msg" ng-show="user.mobileno.$error.required && user.mobileno.$touched">Please Enter Your Mobile No.</div>
                                    </div>
                                    <!-- <div class="form-group mt25">
                                        <label>CONFIRM PASSWORD</label>
                                        <input type="password" name="confirmPassword" class="form-control" ng-model="userForm.confirmPassword" required>
                                        <div class="error-msg" ng-show="user.confirmPassword.$error.required && user.confirmPassword.$touched">Please Confirm Your Password.</div>
                                    </div> -->
                                    <div class="form-group mt25">
                                        <label>PROFILE IMAGE</label>
                                        <!-- <img ng-src="{{userForm.image|uploadpath}}" class="img-responsive margin-auto"> -->




                                        <!--   <div class="pro-im mt10"><div class="user-img display-inline">
                                        <img src="img/user.png" class="doneLoading"></div><div class="sub-btn display-inline">
                                        <button class="btn btn-animate-inverse-success f10">CHOOSE FILE</button></div></div> -->
                                        <upload-image ng-model="userForm.image"></upload-image>
                                        <!-- <div class="pro-im mt10">
                                          <h4 ng-if="isloading">Loading...</h4>
                                            <div class="user-img display-inline">
                                               <img ng-src="{{userForm.image|uploadpath}}" ng-if="userForm.image" style="height:200px;">
                                                <img src="img/user.png" alt="">
                                            </div>
                                            <div class="sub-btn display-inline">
                                                <upload-image ng-model="userForm.image" no-view></upload-image>
                                            </div>
                                        </div> -->
                                        <!-- <upload-image ng-model="userForm.image" no-view></upload-image> -->
                                    </div>
                                    <!-- </form> -->
                                </div>
                            </div>

                            <div class="set-title mt20 pt20" style="border-top: 1px solid #ccc;">
                                <h5 class="font-raleway font-bold f17 color-base">ADDRESS DETAILS</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-9">
                                    <!-- <form action="" name="user" class="form-input "> -->
                                    <div class="form-group mt25 pb20">
                                        <label>FULL ADDRESS <span class="f10 color-success">( NOT TO BE SHARED PUBLICALY )</span></label>
                                        <textarea name="addressDetails" class="form-control" rows="6" style="resize: none;" ng-model="userForm.addressDetails" required></textarea>
                                        <div class="error-msg" ng-show="user.addressDetails.$error.required && user.addressDetails.$touched">Please Enter Your Address.</div>
                                    </div>
                                    <!-- </form> -->


                                </div>
                            </div>
<div class="row">
  <div class="col-md-4 col-sm-5">
    <div class="form-group ">
        <label>City</label>
        <input type="text" name="city" class="form-control" ng-model="userForm.city" required>
        <div class="error-msg" ng-show="user.city.$error.required && user.city.$touched">Please Enter Your City.</div>
    </div>
  </div>
</div>
                            <div class="row" style="border-top: 1px solid #ccc;margin:0px">
                                <div class="col-md-12 col-sm-12">
                                    <div class="save-btn mt25">
                                        <button class="btn btn-blue font-light text-up f13" ng-click="userSubmitForm(user);tabchange('professional',2);">save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="exp-prof mt30" ng-if="tab2=='professional'">
                        <form name="user" class="form-input fsize">
                            <div class="set-title">
                                <h5 class="font-raleway font-bold f17 color-base text-up">Professional INFORMATION</h5>
                            </div>

                            <div class="row mt25">
                                <div class="col-md-6 col-sm-6">
                                    <!-- <form name="user" class="form-input"> -->
                                    <div class="form-group ">
                                        <label for="exampleInputEmail1">AREA OF EXPERTISE</label>
                                        <select name="areaOfExpertise" class="form-control text-up" ng-model="userForm.areaOfExpertise" required>
                                            <option ng-repeat="cat in categorydata">{{cat.name}}</option>
                                            <!-- <option>Financial Adviser</option>
                                            <option>Musician</option>
                                            <option>Fitness Expert</option>
                                            <option>Travel Consultant</option> -->
                                        </select>
                                        <div class="error-msg" ng-show="user.areaOfExpertise.$error.required && user.areaOfExpertise.$touched">Please Select Area of Expertise.</div>
                                    </div>
                                    <div class="form-group mt25">
                                        <label>specialization <span class="f10 color-success">(YOU CAN ENTER MULTIPLE SPECIALIZATION)</span></label>
                                        <input name="specilization" type="text" class="form-control" ng-model="userForm.specilization" required>
                                        <div class="error-msg" ng-show="user.specilization.$error.required && user.specilization.$touched">Please Enter Specilization.</div>
                                    </div>
                                    <!-- </form> -->
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <!-- <form action="" class="form-input"> -->
                                    <div class="form-group">
                                        <label>short descrpition</label>
                                        <input type="text" name="description" class="form-control" ng-model="userForm.description" required>
                                        <div class="error-msg" ng-show="user.description.$error.required && user.description.$touched">Please Enter Description.</div>
                                    </div>
                                    <div class="form-group mt25">
                                        <label for="exampleInputPassword1">price for service / <span class="color-success">30 MINS</span></label>
                                        <input name="priceForService" type="number" class="form-control" ng-model="userForm.priceForService" required>
                                        <div class="error-msg" ng-show="user.priceForService.$error.required && user.priceForService.$touched">Please Enter Price For Service.</div>
                                    </div>
                                    <!-- </form> -->
                                </div>

                            </div>
                            <div class="pro-det mt20 pt20" style="border-top: 1px solid #ccc;">
                                <div class="set-title display-inline">
                                    <h5 class="font-raleway font-bold f17 color-base text-up">EDUCATIONAL QUALIFICATION </h5>
                                </div>
                                <div class="add display-inline">
                                    <i class="ln-cross" ng-click="addMore()"></i>
                                </div>
                                <div ng-repeat="edu in edudetail" ng-value="userForm.educationalQualification = edudetail">

                                    <div class="row mt25">
                                        <!-- <form action="" class="form-input"> -->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">DEGREE TITLE</label>
                                                <input type="text" name="degreeTitle" class="form-control" ng-model="edu.degreeTitle" required>
                                                <div class="error-msg" ng-show="user.degreeTitle.$error.required && user.degreeTitle.$touched">Please Enter Degree Title.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">INSTITUTE NAME</label>
                                                <input type="text" name="instituteName" class="form-control" ng-model="edu.instituteName" required>
                                                <div class="error-msg" ng-show="user.instituteName.$error.required && user.instituteName.$touched">Please Enter Institute Name.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">YEAR OF PASSING</label>
                                                <input class="form-control" name="yearOfPassing" ng-model="edu.yearOfPassing" required>
                                                <div class="error-msg" ng-show="user.yearOfPassing.$error.required && user.yearOfPassing.$touched">Please Enter Year Of Passing.</div>
                                            </div>
                                        </div>
                                        <!-- </form> -->
                                    </div>
                                    <div class="row mt25">
                                        <!-- <form action="" class="form-input"> -->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">CITY</label>
                                                <input type="text" name="city" class="form-control" ng-model="edu.city" required>
                                                <div class="error-msg" ng-show="user.city.$error.required && user.city.$touched">Please Enter City.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">COUNTRY</label>
                                                <input type="text" name="country" class="form-control" ng-model="edu.country" required>
                                                <div class="error-msg" ng-show="user.country.$error.required && user.country.$touched">Please Enter Country.</div>
                                            </div>
                                        </div>
                                        <!-- </form> -->
                                    </div>

                                </div>

                            </div>
                            <div class="edu-det mt20 pt20" style="border-top: 1px solid #ccc;">
                                <div class="set-title display-inline">
                                    <h5 class="font-raleway font-bold f17 color-base text-up">EXPERIENCE </h5>
                                </div>
                                <div class="add display-inline">
                                    <i class="ln-cross" ng-click="addexperience()"></i>
                                </div>
                                <!-- <form action="" class="form-input"> -->
                                <div ng-repeat="experi in experiencedetail" ng-value="userForm.experience = experiencedetail">
                                    <div class="tab-dis mt25">
                                        <div class="rad">
                                            <div class="radio display-inline">
                                                <input type="radio" id="radio01" name="company" value="company" ng-model="experi.experienceType" required />
                                                <label for="radio01"><span></span>COMPANY</label>
                                            </div>
                                            <div class="radio display-inline pl12">
                                                <input type="radio" id="radio02" name="selfemployed" value="selfemployed" ng-model="experi.experienceType" required />
                                                <label for="radio02"><span></span>SELF EMPLOYED</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row mt25">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group" ng-if="experi.experienceType=='company'">
                                                <label for="exampleInputPassword1">COMPANY NAME</label>
                                                <input type="text" name="companyName" class="form-control" id="exampleInputPassword1" ng-model="experi.companyName" required>
                                                <div class="error-msg" ng-show="user.companyName.$error.required && user.companyName.$touched">Please Enter Company Name.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group" ng-if="experi.experienceType=='company'">
                                                <label for="exampleInputPassword1">JOB TITLE</label>
                                                <input type="text" name="jobTitle" class="form-control" id="exampleInputPassword1" ng-model="experi.jobTitle" required>
                                                <div class="error-msg" ng-show="user.jobTitle.$error.required && user.jobTitle.$touched">Please Enter Job Title.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt25">
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">JOB DESCRIPTION</label>
                                                <textarea class="form-control" name="jobDescription" rows="4" style="resize: none;" ng-model="experi.jobDescription" required></textarea>
                                                <div class="error-msg" ng-show="user.jobDescription.$error.required && user.jobDescription.$touched">Please Enter Job Description.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt25">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">START DATE</label>
                                                <p class="input-group">

                                                    <input type="date" ng-model="experi.startDate" name="startDate" class="form-control" />
                                                    <!-- <div class="error-msg" ng-show="user.startDate.$error.required && user.startDate.$touched">Please Enter Start Date.
                                                  </div> -->
                                                    <span class="input-group-btn">
                  <button type="button" class="btn btn-default cal-btn" ng-click="open1(experi.popupModel)"><i class="fa fa-calendar"></i></button>
                </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">END DATE</label>
                                                <p class="input-group">
                                                    <input type="date" ng-model="experi.endDate" name="endDate" class="form-control" />
                                                    <!-- <div class="error-msg" ng-show="user.endDate.$error.required && user.endDate.$touched">Please Enter End Date.
                                                  </div> -->
                                                    <span class="input-group-btn">
                  <button type="button" class="btn btn-default cal-btn" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">COMPANY LOGO</label>
                                                <div class="pro-im mt10">
                                                    <!-- <img ng-src="{{experi.image1|uploadpath}}" class="img-responsive margin-auto" style="height:200px;"> -->
                                                    <!-- <div class="user-img display-inline">
                                                      <img ng-src="{{experi.image1|uploadpath}}" alt="">
                                                  </div> -->
                                                    <upload-image ng-model="experi.image1">
                                                    </upload-image>
                                                    <!-- <div class="sub-btn display-inline">
                                                      <upload-image ng-model="" no-view></upload-image>
                                                  </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                                <!-- </form> -->
                            </div>
                            <div class="desc mt20 pt20" style="border-top: 1px solid #ccc;">
                                <div class="set-title">
                                    <h5 class="font-raleway font-bold f17 color-base text-up">DESCRIPTION AND SKILL </h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <!-- <form action="" class="form-input"> -->
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">DETAIL DESCRIPTION <span class="f10 color-success">(TELL US ABOUT YOUR  SKILL)</span></label>
                                            <textarea name="descriptionAndSkills" class="form-control" rows="6" style="resize:none;" ng-model="userForm.descriptionAndSkills" required></textarea>
                                            <div class="error-msg" ng-show="user.descriptionAndSkills.$error.required && user.descriptionAndSkills.$touched">Please Enter Your Description and Skills.
                                            </div>
                                        </div>
                                        <!-- </form> -->
                                    </div>
                                </div>
                            </div>
                            <div class="awd mt20 pt20" style="border-top: 1px solid #ccc;">
                                <span class="color-success f13">INFORMATION BELOW THE OPTIONAL</span>
                                <div class="row mt25 pb20">
                                    <div class="col-md-4 col-sm-7">
                                        <div class="set-title display-inline">
                                            <h5 class="font-raleway font-bold f17 color-base text-up">AWARDS AND HONORS</h5>
                                        </div>
                                        <div class="add display-inline">
                                            <i class="ln-cross" ng-click="addawards()"></i>
                                        </div>
                                        <!-- <form action="" class="form-input"> -->
                                        <div class="form-group mt25">
                                            <label for="exampleInputPassword1">AWARDS AND HONORS</label>
                                            <div class="mt15" ng-repeat="award in moreAwards" ng-value="userForm.awards = moreAwards">
                                                <input type="text" name="awardsandhonors" class="form-control" id="exampleInputPassword1" ng-model="award.awardsandhonors">
                                            </div>
                                        </div>
                                        <!-- </form> -->
                                    </div>
                                    <!-- <div class="col-md-4 col-sm-7">
                                        <div class="set-title display-inline">
                                            <h5 class="font-raleway font-bold f17 color-base text-up">VIDEO LINKS</h5>
                                        </div>
                                        <div class="add display-inline">
                                            <i class="ln-cross" ng-click="addvideos()"></i>
                                        </div>

                                        <div class="form-group mt25">
                                            <label for="exampleInputPassword1">VIDEO LINKS</label>
                                            <div ng-repeat="video in moreVideos" ng-value="userForm.videoLinks = moreVideos">
                                                <input type="text" name="name" class="form-control" id="exampleInputPassword1" ng-model="video.name">
                                            </div>
                                        </div>

                                    </div> -->
                                    <div class="col-md-4 col-sm-7">
                                        <div class="set-title display-inline">
                                            <h5 class="font-raleway font-bold f17 color-base text-up">ADD PHOTOS</h5>
                                        </div>
                                        <div class="add display-inline">
                                            <i class="ln-cross" ng-click="addphotos()"></i>
                                        </div>
                                        <div class="pic custom-li mt25" ng-repeat="photo in morephotos" ng-value="userForm.addPhotos = morephotos">
                                            <ul class="padding0">
                                                <li>
                                                    <!-- <img ng-src="{{userForm.image2|uploadpath}}" ng-if="userForm.image2" style="height:200px;"> -->
                                                    <upload-image ng-model="photo.image2">
                                                    </upload-image>
                                                </li>
                                                <!-- <li>
                                                    <img src="img/cr2.jpg" alt="">
                                                </li> -->
                                            </ul>

                                        </div>
                                        <div class="noti ">
                                            <span class="color-success f10">(NOTE: THIS DOCUMENT WILL BE VERIFY BY THE ADMIN)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-5">
                                        <div class="set-title display-inline">
                                            <h5 class="font-raleway font-bold f17 color-base text-up">PUBLICATION LINK</h5>
                                        </div>
                                        <div class="add display-inline">
                                            <i class="ln-cross" ng-click="addlink()"></i>
                                        </div>
                                        <!-- <form action="" class="form-input"> -->
                                        <div class="form-group mt25">
                                            <label>ENTER PUBLICATION LINK</label>
                                            <div ng-repeat="link in userForm.publicationLinks" ng-value="userForm.publicationLinks = publilink">
                                                <input type="text" name="name" class="form-control" ng-model="link.name">
                                            </div>
                                        </div>
                                        <!-- </form> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 col-sm-12" style="border-top: 1px solid #ccc;">
                                    <div class="save-btn mt25">
                                        <button class="btn btn-blue font-light text-up f13" ng-click="userSubmitForm(user);tabchange('call',3);">save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="exp-call mt30" ng-if="tab2=='call'">
                        <form name="user" class="form-input">
                            <div class="call-sett">
                                <span class="f13 color-success text-up">Will be activated once your profile is verified.</span>
                                <div class="set-title mt25">
                                    <h5 class="font-raleway font-bold f17 color-base text-up">CALL SETTINGS</h5>
                                </div>
                                <div class="call-time mt25">
                                    <div class="select-dt">
                                        <span class="f13 color-grey">PLEASE SELECT YOUR PREFERRED CALL TIME</span>
                                    </div>
                                    <div class="rad radi mt10" ng-value="userForm.callSettings = calldetail">
                                        <div class="radio display-inline">
                                            <input type="radio" id="radio01" name="radio" ng-model="userForm.callTime" value="weekdays" required />
                                            <label for="radio01"><span></span>WEEKDAYS (9AM - 9PM)</label>
                                        </div>
                                        <div class="radio display-inline pl12">
                                            <input type="radio" id="radio02" name="radio" ng-model="userForm.callTime" value="weekends" required />
                                            <label for="radio02"><span></span>WEEKENDS (9AM - 9PM)</label>
                                        </div>
                                        <div class="radio display-inline pl12">
                                            <input type="radio" id="radio03" name="radio" ng-model="userForm.callTime" value="custom" required />
                                            <label for="radio03"><span></span>CUSTOM TIMING</label>
                                        </div>
                                        <div class="radio display-inline pl12">
                                            <input type="radio" id="radio04" name="radio" ng-model="userForm.callTime" value="unavailable" required />
                                            <label for="radio04"><span></span>UNAVAILABLE DAY</label>
                                        </div>
                                    </div>
                                    <div class="call-det mt25">
                                        <div class="row" ng-if="userForm.callTime=='custom' || userForm.callTime=='unavailable'">
                                            <div class="col-md-12 col-sm-12 col-xs-12 pb20" ng-value="userForm.callSettings = calldetail">
                                                <!-- <form action="" class="form-input"> -->
                                                <div class="form-group display-inline">
                                                    <label for="exampleInputPassword1">SELECT DAY</label>
                                                    <select class="form-control text-up" ng-model="userForm.callday">
                                                        <option value="{{weekday}}" ng-repeat="weekday in weekdays">{{weekday}}</option>
                                                        <!-- <option>TUESDAY</option>
                                                        <option>WEDNESDAY</option>
                                                        <option>THURSDAY</option>
                                                        <option>FRIDAY</option> -->
                                                    </select>
                                                </div>

                                                <div class="add display-inline">
                                                    <i class="ln-cross" ng-click="addCalls()"></i>
                                                </div>
                                                <!-- </form> -->
                                                <div class="day-opt custom-li mt25" ng-hide="userForm.callTime=='custom'">
                                                    <ul class="padding0">
                                                        <li ng-repeat="calls in calldetail track by $index" ng-value="userForm.customSettings = calldetail">
                                                            <p class="color-success op2 pointer">{{calls.day}}</p>
                                                            <p class="op pointer" ng-click="removeCalls($index)">REMOVE</p>
                                                        </li>
                                                        <!-- <li>
                                                        <p class="color-success op2 pointer">{{calls.day}}</p>
                                                        <p class="op pointer">REMOVE</p>
                                                    </li> -->
                                                    </ul>
                                                </div>
                                                <div ng-hide="userForm.callTime=='unavailable'">
                                                    <div class="day-opt2 mt25" ng-repeat="calls in calldetail" ng-value="userForm.unavailableSettings = calldetail">

                                                        <div class="closes pull-right">
                                                            <img src="img/close.png" alt="" ng-click="removeCalls($index)">
                                                        </div>


                                                        <span class="color-success">{{calls.day}}</span>
                                                        <div class="from pull-left mt30">
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">FROM</label>
                                                                <select class="form-control" ng-model="calls.fromTime">
                                                                    <option>10:00</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class=" pull-right mt15">
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">TO</label>
                                                                <select class="form-control" ng-model="calls.toTime">
                                                                    <option>10:00</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 ol-xs-12" style="border-top: 1px solid #ccc;">
                                    <div class="save-btn mt25">
                                        <button class="btn btn-blue font-light text-up f13" ng-click="userSubmitForm(user);tabchange('bank',4);">save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="exp-bank mt30" ng-if="tab2=='bank'">
                        <span class="text-up color-success f13">These details are important for us to remit funds for the calls that you have made</span>
                        <div class="set-title mt25">
                            <h5 class="font-raleway font-bold f17 color-base text-up">BANK DETAILS</h5>
                        </div>
                        <form name="user" class="form-input">
                            <div class="row mt25 pb20">
                                <div class="col-md-4 col-sm-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">NAME OF ACCOUNT HOLDER</label>
                                        <input type="text" name="accountHolderName" class="form-control" id="exampleInputEmail1" ng-model="userForm.accountHolderName" required>
                                        <div class="error-msg" ng-show="user.accountHolderName.$error.required && user.accountHolderName.$touched">Please Enter Name Of Account Holder.
                                        </div>
                                    </div>
                                    <div class="form-group mt25">
                                        <label for="exampleInputEmail1">BANK NAME</label>
                                        <input type="text" name="bankName" class="form-control" id="exampleInputEmail1" ng-model="userForm.bankName" required>
                                        <div class="error-msg" ng-show="user.bankName.$error.required && user.bankName.$touched">Please Enter Bank Name.
                                        </div>
                                    </div>
                                    <div class="form-group mt25">
                                        <label for="exampleInputEmail1">RTGS / NEFT IFCS CODE </label>
                                        <input type="text" name="code" class="form-control" id="exampleInputEmail1" ng-model="userForm.code" required>
                                        <div class="error-msg" ng-show="user.code.$error.required && user.code.$touched">Please Enter Name Of Account Holder.
                                        </div>
                                    </div>
                                    <div class="checkbox-blue checkbox mt25">
                                        <input type="checkbox" id="radio011" ng-model="userForm.sameaddress" ng-change="changeAddress(userForm.sameaddress)" />
                                        <label for="radio011"><span></span>SAME AS USER ADDRESS</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ACCOUNT HOLDER ADDRESS</label>
                                        <textarea class="form-control" rows="3" style="resize:none" ng-model="userForm.accountHolderAddress" required></textarea>
                                        <div class="error-msg" ng-show="user.accountHolderAddress.$error.required && user.accountHolderAddress.$touched">Please Enter Address.
                                        </div>
                                    </div>
                                    <!-- <div class="form-group" ng-if="userForm.sameaddress=='!sameas'">
                                        <label for="exampleInputEmail1">ACCOUNT HOLDER ADDRESS</label>
                                        <textarea class="form-control" rows="3" style="resize:none" ng-model="userForm.accountHolderAddress" ></textarea>
                                        <div class="error-msg" ng-show="user.accountHolderAddress.$error.required && user.accountHolderAddress.$touched">Please Enter Address.
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-md-4 col-sm-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">TYPE OF ACCOUNT</label>
                                        <select class="form-control" ng-model="userForm.typeOfAccount">
                                            <option>CURRENT</option>
                                            <option>SAVING</option>
                                            <!-- <option>3</option>
                      <option>4</option>
                      <option>5</option> -->
                                        </select>
                                        <div class="error-msg" ng-show="user.typeOfAccount.$error.required && user.typeOfAccount.$touched">Please Enter Type Of Account.
                                        </div>
                                    </div>
                                    <div class="form-group mt25">
                                        <label for="exampleInputEmail1">ACCOUNT NUMBER</label>
                                        <input type="text" name="accountNo" class="form-control" id="exampleInputEmail1" ng-model="userForm.accountNo" required>
                                        <div class="error-msg" ng-show="user.accountNo.$error.required && user.accountNo.$touched">Please Enter Account Number.
                                        </div>
                                    </div>

                                    <div class="form-group mt25">
                                        <label for="exampleInputEmail1">BANK BRANCH ADDRESS <span class="color-success f10">(OPTIONAL)</span></label>
                                        <textarea class="form-control" name="branchAddress" rows="3" style="resize:none" ng-model="userForm.branchAddress" required></textarea>
                                        <div class="error-msg" ng-show="user.branchAddress.$error.required && user.branchAddress.$touched">Please Enter Branch Address.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="border-top: 1px solid #ccc;">
                                    <div class="save-btn mt25">
                                        <button class="btn btn-blue font-light text-up f13" ng-click="userSubmitForm(user)">save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
