<section class="mt70">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main-links mt25">
          <ul class="breadcrumb padding0">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li><a href="#" class="active text-uppercase">expert booking</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<section>

  <div class="booking-main">
    <div class="container">
      <div class="booking-section">
        <uib-tabset>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">REQUESTED CALLS</uib-tab-heading>
            <div class="b-order">
              <p class="font-bold tag-line mt30">These calls have been requested for  </p>
            </div>
            <div class="row mt20">
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg">
                      <!-- <div class="user-imgholder margin-auto">
                        <img src="img/search-pro2.jpg" alt="" class="img-responsive">
                      </div> -->
                      <div class="display-inline">
                        <span class="name block font-bold mt5">Sohan Honakeri</span>
                      </div>
                      <div class="display-inline pull-right">
                        <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                      </div>
                    </div>
                    <div class="user-info">

                      <div class="media mt20">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-register user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">User Query</h5>
                        <div class="u-query">
                          <p class="color-grey f13">I have to talk with you related
  to some travel topic. please confirm
   and form me if you are agree with
  this </p>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-ac custom-li mt30">
                      <ul class="padding0">
                        <li class="pull-left">
                        <a href="" class="blue-link">Accept</a>

                        </li>
                        <li class="pull-right">
                            <a href="" class="grey-link">Reject</a>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg">
                      <!-- <div class="user-imgholder margin-auto">
                        <img src="img/search-pro2.jpg" alt="" class="img-responsive">
                      </div> -->
                      <div class="display-inline">
                        <span class="name block font-bold mt5">Harsh Thakkar</span>
                      </div>
                      <div class="display-inline pull-right">
                        <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 100/-</span>
                      </div>
                    </div>
                    <div class="user-info">

                      <div class="media mt20">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-register user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">User Query</h5>
                        <div class="u-query">
                          <p class="color-grey f13">I have to talk with you related
  to some travel topic. please confirm
   and form me if you are agree with
  this </p>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-ac custom-li mt30">
                      <ul class="padding0">
                        <li class="pull-left">
                        <a href="" class="blue-link">Accept</a>

                        </li>
                        <li class="pull-right">
                            <a href="" class="grey-link">Reject</a>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Schedule Call</uib-tab-heading>
            <p class="font-bold tag-line">Following calls are confirmed. We will connect you at the scheduled time.</p>
            <div class="row">
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Awaiting Confirmation</uib-tab-heading>
            <p class="font-bold tag-line">Following calls are yet to be confirmed by the experts. Upon confirmation you will be prompted to pay.</p>
            <div class="row">
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Completed</uib-tab-heading>
            <p class="font-bold tag-line">These is your completed call history. You can print an invoice and even retrieve a recording of your call.</p>
            <div class="row">
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-completed">
                    <div class="print-icon">
                      <span class="ln-printer color-grey"></span>
                    </div>
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name block font-bold">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="feedback text-left">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control"></textarea>
                      <div class="text-center">
                        <button type="button" class="btn btn-success text-uppercase">Submit</button>
                      </div>
                    </div>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of expertise</span>
                        <span class="pull-right">Health</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                      <div class="duration user-detail clearfix">
                        <span class="pull-left color-grey">Duration</span>
                        <span class="pull-right">45:23 Min</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success text-uppercase mt10">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-completed">
                    <div class="print-icon">
                      <span class="ln-printer color-grey"></span>
                    </div>
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name block font-bold">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="feedback text-left">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control"></textarea>
                      <div class="text-center">
                        <button type="button" class="btn btn-success text-uppercase">Submit</button>
                      </div>
                    </div>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of expertise</span>
                        <span class="pull-right">Health</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                      <div class="duration user-detail clearfix">
                        <span class="pull-left color-grey">Duration</span>
                        <span class="pull-right">45:23 Min</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success text-uppercase mt10">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-completed">
                    <div class="print-icon">
                      <span class="ln-printer color-grey"></span>
                    </div>
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive" />
                    </div>
                    <span class="name block font-bold">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="feedback text-left">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control"></textarea>
                      <div class="text-center">
                        <button type="button" class="btn btn-success text-uppercase">Submit</button>
                      </div>
                    </div>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of expertise</span>
                        <span class="pull-right">Health</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                      <div class="duration user-detail clearfix">
                        <span class="pull-left color-grey">Duration</span>
                        <span class="pull-right">45:23 Min</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success text-uppercase mt10">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Account History</uib-tab-heading>
<div class="b-order">
  <div class="display-inline mt30">
      <p class="font-bold tag-line">Account History</p>
  </div>
    <div class="filt display-inline">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          SORT BY CATEGORY
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Cancelled</a></li>
          <li><a href="#">Completed</a></li>
          <li><a href="#">Refunded</a></li>

        </ul>
      </div>
    </div>
</div>
            <div class="completed-section mt30">
              <p class="text-uppercase font-bold color-success">Completed</p>
              <table class="table text-uppercase account-history font-light text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td> Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Completed


                  </td>
                  <td>500/-
                    <br>
                    <button class="btn btn-success mt10 f12">PRINT INVOICE</button>
                    <!-- <br>
                      <button class="btn btn-success text-uppercase mt10 f12">Retrieve Call (Coming Soon)</button> -->
                  </td>
                </tr>
              </table>
              <table class="table text-uppercase account-history text-center">
                <tr>
                  <th>User Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td> Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Pending

                  </td>
                  <td>500/-
                    <br>
                    <button class="btn btn-success mt10 f12">PRINT INVOICE</button></td>
                </tr>
              </table>
            </div>


          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</section>
