<section class="mt70 space-top">
  <div class="">
    <div class="" ng-include="template.searchbar"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main-links mt25">
          <ul class="breadcrumb padding0">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li class="active text-uppercase">Help</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-search">
    <div class="container">
      <div class="contact">

        <h4 class="text-center color-base font-bold">HELP</h4>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="faq text-justify">
      <div class="qsn-ans">
        <h4>Location Information ?</h4>
        <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your
          mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
      </div>
      <div class="qsn-ans">
        <h4>Contacts Information ?</h4>
        <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your
          mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
      </div>
      <div class="qsn-ans">
        <h4>Transaction Information ?</h4>
        <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your
          mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
      </div>
      <div class="qsn-ans">
        <h4>Usage and Preference Information ?</h4>
        <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your
          mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
      </div>
      <div class="qsn-ans">
        <h4>Transaction Information ?</h4>
        <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your
          mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
      </div>
      <div class="qsn-ans">
        <h4>Call and SMS Data?</h4>
        <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your
          mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</section>
