<section>
  <div class="bg-search">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="search-bar">
            <form class="form-inline">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
              </div>
              <!-- /input-group -->
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="hemberg">
            <ul>
              <li>
                <a href="">home</a>
              </li>

              <li><a href="">
                faq
              </a></li>
            </ul>
          </div>
        </div>
      </div>
<div class="contact">
<h4>faq</h4>
<div class="faq">
  <div class="qsn-ans">
    <h4>Location Information ?</h4>
    <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
  </div>
  <div class="qsn-ans">
    <h4>Contacts Information ?</h4>
    <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
  </div>
  <div class="qsn-ans">
    <h4>Transaction Information ?</h4>
    <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
  </div>
  <div class="qsn-ans">
    <h4>Usage and Preference Information ?</h4>
    <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
  </div>
  <div class="qsn-ans">
    <h4>Transaction Information ?</h4>
    <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
  </div>
  <div class="qsn-ans">
    <h4>Call and SMS Data?</h4>
    <p>When you use the Services for transportation or delivery, we collect precise location data about the trip from the Uber app used by the Driver. If you permit the Uber app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
  </div>
</div>
</div>
    </div>
  </div>
</section>
