<section>
  <div class="bg-expert">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="exp-signup">
            <form action="">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">FIRST NAME</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">LAST NAME</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">EMAIL</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">MOBILE NUMBER</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">PASSWORD</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">CONFIRM PASSWORD</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">AGE</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">GENDER</label>
                  <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                MALE
                </label>
              </div>
                  <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                FEMALE
                </label>
              </div>
              </div>
              <button>SUBMIT</button>
              <div class="login-lnk">
                <p>Already an Jacknow member?<span>Log in</span></p>
              </div>
            </form>
          </div>
          <!-- <div class="login-form">
            <form action="">
            <div class="form-group">
              <label for="exampleInputEmail1">EMAIL / MOBILE NUMBER</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">PASSWORD</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <button>SUBMIT</button>
            <div class="login-lnk">
              <p>Don’t have an account?<span>Sig up</span></p>
            </div>
            </form>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="why-bcm">
        <h4>WHY BECOME AN EXPERT</h4>
      </div>
      <div class="col-md-3">
        <div class="icon-bx">
          <img src="img/c1.png" alt="">
        </div>
        <div class="icon-title">
          <h4>Flexibility</h4>
        </div>
        <div class="icon-desc">
          <p>Set your own schedule.block the
day/time that you are not available</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon-bx">
          <img src="img/c2.png" alt="">
        </div>
        <div class="icon-title">
          <h4>Rewarding</h4>
        </div>
        <div class="icon-desc">
          <p>Monetize your experience and skill.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon-bx">
          <img src="img/c3.png" alt="">
        </div>
        <div class="icon-title">
          <h4>Convenient</h4>
        </div>
        <div class="icon-desc">
          <p>No need to step out anywhere, consult
from where you are </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon-bx">
          <img src="img/c4.png" alt="">
        </div>
        <div class="icon-title">
          <h4>No negotiations</h4>
        </div>
        <div class="icon-desc">
          <p>No need to go back and forth on quotes,
set your own price</p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="icon-bx">
          <img src="img/c5.png" alt="">
        </div>
        <div class="icon-title">
          <h4>Guaranteed payment</h4>
        </div>
        <div class="icon-desc">
          <p>No follow ups or reminders needed,
get paid digitally soon after completing
 your consulting assignment</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon-bx">
          <img src="img/c6.png" alt="">
        </div>
        <div class="icon-title">
          <h4>Share as you earn</h4>
        </div>
        <div class="icon-desc">
          <p>No listing fees, share a small
percentage of your fees only when
you get paid</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon-bx">
          <img src="img/c7.png" alt="">
        </div>
        <div class="icon-title">
          <h4>Visibility</h4>
        </div>
        <div class="icon-desc">
          <p>Build your network/clientelle as you go,
and get noticed even more</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="icon-bx">
          <img src="img/c8.png" alt="">
        </div>
        <div class="icon-title">
          <h4>Get started right away</h4>
        </div>
        <div class="icon-desc">
          <p>No infrastructure or team needed, go it alone.
Just sign up and get started with your consultancy </p>
        </div>
      </div>

    </div>
  </div>
</section>
