<section>
  <div class="home">
    <div class="hero__background">
      <div class="black-overlay"></div>
      <video class="video hidden-xs hidden-sm" controls autoplay loop>
        <source src="img/demo.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
      <div class="hidden-lg hidden-md">
        <img src="img/home.jpg" alt="Home Image">
      </div>
    </div>
    <div class="home-contain">
      <div class="need-help wow fadeIn">
        <button class="btn btn-blue font-bold" ng-click="open4('sm')" ng-controller="headerctrl">Not able to find an expert?</button>
      </div>
      <div class="search-pos">
        <div class="container">
          <div class="row" style="margin-top:60px;">
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 text-center">
              <div class="search-head text-center wow fadeInUp">
                <h2 class="color-white font-raleway">Get experts to answer all your questions</h2>
              </div>
              <div class="search-input wow fadeInUp">
                <form name="user" class="pos-relative">
                  <div class="search-icon display-inline">
                    <img src="img/search-mini.png" alt="">
                  </div>
                  <div>
                    <div class="search-br searching">
                      <ui-select ng-model="expertdata.search" ng-change="" style="width: 100%;" title="Search Movie" class="search-drop">
                          <ui-select-match placeholder="Search for a Expert">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="cat in categoryNames | filter: {name:$select.search}">
                              <div class="movi-src-rslt">
                                  <div class="display-inline ml15">
                                      <span ng-bind-html="movie.name"></span>
                                  </div>
                              </div>
                          </ui-select-choices>
                      </ui-select>
                      <!-- <input type="text" name="name" value="search"  class="form-control" placeholder="Search category, expertname, skill.." ng-model="expertdata.search"> -->
                    </div>

                    <div class="search-btn searching-btn display-inline"><a ui-sref="search({search:expertdata.search})">
                      <button class="btn btn-animate-org" ng-disabled="expertdata.search.length==null || expertdata.search.length==0">SEARCH</button></a>
                    </div>

                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="signup text-center">
      <h2 class="color-white font-raleway">
  SIGN UP AND GET YOUR SECOND CALL FREE
</h2>
    </div> -->
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="how-it-work text-center">
        <h3 class="font-bold font-raleway m70 color-base">HOW IT WORKS</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 text-center" ng-repeat="data in hows track by $index">
        <div class="wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s">
          <div class="icon-box">
            <img ng-src="{{data.icon}}" alt="" class="img-responsive margin-auto ">
          </div>
          <div class="icon-title">
            <span class="font-raleway color-base text-cap" style="font-weight: 500;">{{data.title}}</span>
          </div>
          <div class="desc mt7">
            <p class="font-light color-grey">{{data.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="about p70 mt60">
    <div class="container">
      <div class=" wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.7s">
        <div class="row">
          <h3 class="font-bold font-raleway text-center color-base margin0">ABOUT JACKNOWS</h3>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="owl">
              <img src="img/owl.png" alt="" class="img-responsive margin-auto">
            </div>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="abt-desc mt20 mb20">
              <p >
            If you're looking for a solution to anything under the sun, trust Jack - He knows.
              </p>
              <p>
We're an exciting start-up in the peer-to-peer professional service domain, looking to connect people with subject matter experts for customised requests and queries. The platform will house experts across industries, who will assist our users by dishing out pro advice at a nominal fee! No more unnecessary office trips - it's all from the comfort of your living room. Whatever your request, we've got you covered.  </p>
            </div>
            <!-- <div class="read-mr pull-right mt20">
              <button class="btn btn-animate-inverse-org text-up f13" ui-sref="about">read more</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="m70">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="icon-txt wow fadeInUp"  data-wow-delay="0.5s" data-wow-duration="1.5s">
          <div class="display-inline">
            <img src="img/category.png" alt="" width="35px">
          </div>
          <div class="icon-head display-inline pl12">
            <span class="font-raleway font-med">New Category</span>
          </div>
          <p class="margin0 color-grey pt15 pb15 font-light">Following are the new categories added</p>
          <div class="cat-list">
            <ul class="padding0">
              <li ng-repeat="category in categories">
                <a ui-sref="search({search:category.name})">
                  <i class="ln-briefcase"></i> {{category.name}}
                </a>
              </li>
              <!-- <li>
                <a href="">
                  <i class="ln-library"></i> Financial Adviser
                </a>
              </li>
              <li>
                <a href="">
                  <i class="ln-cash"></i> Musician
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="icon-txt wow fadeInUp"  data-wow-delay="0.5s" data-wow-duration="1.5s">
          <div class="display-inline">
            <img src="img/search.png" alt="" width="35px">
          </div>
          <div class="icon-head display-inline pl12">
            <span class="font-raleway font-med">Frequently Searched</span>
          </div>
          <div class="cat-list mt20 pad-list" ng-repeat="freq in freqSearch">
            <ul class="padding0">
              <li>

                <a> {{freq.search}}</a>

              </li>
              <!-- <li>
                <a href="">
               Travel Consultant <span class="badge pull-right">21</span>
                </a>
              </li>
              <li>
                <a href="">
               Legal Advisor <span class="badge pull-right">20</span>
                </a>
              </li>
              <li>
                <a href="">
                 Real Estate Consultant <span class="badge pull-right">18</span>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="icon-txt wow fadeInUp"  data-wow-delay="0.5s" data-wow-duration="1.5s">
          <div class="display-inline">
            <img src="img/rss.png" alt="" width="35px">
          </div>
          <div class="icon-head display-inline pl12">
            <span class="font-raleway font-med">Daily Updates</span>
          </div>
          <div class="over-flow mt20" id="style-7">
            <!-- <div class="update-box ">
              <h5 class="color-primary margin0">Top 10 things to do in Thailand</h5>
              <p class="pull-right color-grey f10 date">31 january 2016</p>
              <div class="desc-p">
                <p>This beautiful gold-tipped series of buildings is over 200 years old, and perhaps Bangkok's most famous destination. Yes, it can feel like a tourist trap, but the complex's history and grandeur is palpable</p>
              </div>
              <div class="recc">
                <span>12  RECOMMENDATIONS </span>
                <button class="btn btn-animate-inverse-org f10 text-up pull-right">read more</button>
              </div>
            </div> -->
            <div class="update-box mt20" ng-repeat="dailyUpdate in dailyUpdates">
              <h5 class="color-primary margin0">{{dailyUpdate.title}}</h5>
              <p class="pull-right color-grey f10 date">{{dailyUpdate.timestamp|date}}</p>
              <div class="desc-p">
                <p>{{dailyUpdate.content}}</p>
              </div>
              <div class="recc">
                <span>{{dailyUpdate.recommendation.length}} RECOMMENDATIONS</span>
                <!-- <button class="btn btn-animate-inverse-org f10 text-up pull-right">read more</button> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="slider-testimonial p70 mt60">
    <div class="container">
      <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <h3 class="font-bold font-raleway text-center color-base margin0">TESTIMONIALS</h3>
        <flex-slider class="carousel" flex-slide="slide in testimonial track by $index" animation="slide">
          <li>
            <div class="testimonial">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                  <div class="img-holder">
                    <img ng-src="{{slide.image}}" alt="" class="img-responsive">
                  </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="testi-descp mt30">
                    <p class="font-light color-base line-80">{{slide.testimonial}}</p>
                    <div class="text-right">
                      <h5>{{slide.name}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
  </div>
</section>
