<section>
    <div class="mt70 space-top">
        <div class="" ng-include="template.searchbar"></div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="main-links mt25">
                    <ul class="breadcrumb">
                        <li><a ui-sref="home" class="text-uppercase">Home</a></li>
                        <li><a href="#" class="active text-uppercase">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bg-search">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="filter">
                        <div class="filter-title">
                            <h4 class="text-uppercase">filter</h4>
                        </div>
                        <div class="filter-box">
                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">AREA OF EXPERTISE</label>

                                    <input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" />
                                    <label>
                                        Select All
                                    </label>


                                  <!-- <input type="button" class="my_form-check-button" ng-click="checkAll(true);" value="Check All"/> -->

                                    <!-- <input type="text" class="form-control padd filter-input" ng-model="searchExpertise" id="exampleInputEmail1" placeholder="eg. doctor, surgeon, etc." ng-keyup="pushExpertise(searchExpertise,$event.keyCode)"> -->
                                    <div class="checkbox">
                                        <div class="" ng-repeat="expertise in expertiseArr track by $index" >
                                            <input type="checkbox" ng-model="expertiseArr[$index].model" id="{{expertise.value}}" ng-change="searchExpert()">
                                            <label for="{{expertise.value}}" >
                                                <span></span> {{expertise.value}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label for="exampleInputEmail1">LOCATION</label>

                                    <!-- <input type="text" ng-model="searchLocation" class="form-control filter-input" id="exampleInputEmail1" placeholder="eg. Mumbai, Pune, etc." ng-keyup="pushLocation(searchLocation,$event.keyCode)"> -->
                                    <div class="checkbox">
                                        <div class=""  ng-repeat="location in locationArr track by $index">
                                            <input type="checkbox" ng-model="locationArr[$index].model"  id="{{location.value}}" ng-change="searchExpert()">
                                            <label for="{{location.value}}" >
                                                <span></span> {{location.value}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">COST</label>

                                    <div class="range-slider">
                                        <div range-slider min="priceFilter.range.min" max="priceFilter.range.max" model-min="priceFilter.minPrice" model-max="priceFilter.maxPrice" filter="currency:'₹'" step="100" on-handle-up="searchExpert()"></div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                  <uib-alert ng-repeat="alert in mesg" type="{{alert.type}}" class="text-center" dismiss-on-timeout="3000" close="closeAlert($index);">{{alert.msg}}</uib-alert>
                    <div class="search">
                        <div class="filter-title">
                            <h4 ng-if="expertdata.length==1 && expertdata.length<=1">SEARCH RESULT : {{expertdata.length}} RESULT FOUND</h4>
                            <h4 ng-if="expertdata.length>=1 && expertdata.length!=1">SEARCH RESULT : {{expertdata.length}} RESULT'S FOUND</h4>
                        </div>
                        <div class="search-box" ng-repeat="experts in expertdata" ng-hide="notfound">
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="search-img margin-auto">
                                      <!-- <img ng-src="{{userForm.image|uploadpath}}" class="img-responsive margin-auto" ng-if="userForm.image" style="height:200px;"> -->
                                        <img ng-src="{{experts.image|uploadpath}}" alt=""  style="height:200px;">
                                    </div>
                                    <div class="short text-center mt10">
                                        <button type="button" name="button" class="btn btn-animate-inverse-org text-uppercase" ng-click="addToWishlist(experts._id)" ng-if="experts.showbtn==true">shortlist</button>
                                        <button type="button" name="button" class="btn btn-animate-inverse-org text-uppercase" ng-click="addToWishlist(experts._id)" ng-if="experts.showbtn==false" disabled>shortlist</button>
                                        <br>
                                        <button type="button" name="button " class="btn btn-animate-inverse-org text-uppercase mt10" ui-sref="profile({id:experts._id})">View detail</button>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-8">
                                    <div class="search-info">
                                        <div class="pull-right">
                                            <div class="pric font-bold color-success">
                                                <i class="fa fa-inr"></i>{{experts.priceForService}} / 30 Min
                                            </div>
                                            <div class="mt5">
                                                <button type="button" class="btn btn-animate-success text-uppercase" ui-sref="book-now({id:experts._id})">book now</button>
                                            </div>
                                        </div>
                                        <div class="exp-desg">
                                            <h5 class="color-grey font-light">{{experts.areaOfExpertise}}</h5>
                                        </div>
                                        <div class="exp-name">
                                            <h4 class="color-primary font-bold">{{experts.firstName + " " +experts.lastName}}</h4>
                                        </div>
                                        <div class="exp-city">
                                            <span class="color-grey">{{experts.city}}</span>
                                        </div>
                                        <div class="exp-brief">
                                            <span class="color-success-light font-bold">Brief BIO:</span>
                                            <p>{{experts.description}}</p>
                                        </div>
                                        <div class="exp-brief">
                                            <span class="color-success-light font-bold">SALES PITCH:</span>
                                            <p>{{experts.salesPitch}}</p>
                                        </div>
                                        <div class="exp-brief">
                                            <span class="color-success-light font-bold">SPECIALIZATION:</span>
                                            <p>{{experts.specilization}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="no-data-found" ng-show="notfound">
                          <img src="img/owl.png" alt="">
                          <h1 class="color-primary">Whoops !</h1>
                          <p class="text-cap">No Result Found!</p>
                        </div>
                        <!-- <div ng-show="notfound" class="showerror">
   <h3 class="text-center">No Result Found!</h3>
 </div> -->
                        <!-- <div class="search-box mt20">
              <div class="row">
                <div class="col-md-3">
                  <div class="search-img margin-auto">
                <img src="img/search-pro2.jpg" alt="">
                  </div>
                  <div class="short text-center mt10">
                    <button type="button" name="button" class="btn btn-animate-inverse-org text-uppercase" ui-sref="wishlist">shortlist</button>
                    <br>
                    <button type="button" name="button " class="btn btn-animate-inverse-org text-uppercase mt10" ui-sref="profile">View detail</button>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="search-info">
                    <div class="pull-right">
                      <div class="pric color-success font-bold">
                        <i class="fa fa-inr"></i>1,500 / 30 Min
                      </div>
                      <div class="mt5">
                        <button class="btn btn-animate-success text-uppercase" ui-sref="book-now">book now</button>
                      </div>
                    </div>
                  <div class="exp-desg">
                    <h5 class="font-light color-grey">APP DEVELOPER</h5>
                  </div>
                  <div class="exp-name">
                    <h4 class="color-primary font-bold">DHAVAL GALA</h4>
                  </div>
                  <div class="exp-city">
                    <span class="color-grey">Mumbai</span>
                  </div>
                  <div class="exp-brief">
                    <span class="color-success-light font-bold">Brief BIO:</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem  Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                  </div>
                  <div class="exp-brief">
                    <span class="color-success-light font-bold">SALES PITCH:</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="exp-brief">
                    <span class="color-success-light font-bold">SPECIALIZATION:</span>
                    <p>Web developer, App developer, web designer</p>
                  </div>
                  </div>

                </div>
              </div>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
