<section>
  <div class="bg-search">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="search-bar">
            <form class="form-inline">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
              </div>
              <!-- /input-group -->
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="hemberg">
            <ul>
              <li>
                <a href="">home</a>
              </li>
              <li>
                <a href="">
                  search
                </a>
              </li>
              <li><a href="">
                profile
              </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="filter">
            <div class="filter-title">
              <h4>filter</h4>
            </div>
            <div class="filter-box">
              <form action="">
                <div class="form-group">
                  <label for="exampleInputEmail1">AREA OF EXPERTISE</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="eg. doctor, surgeon, etc.">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">LOCATION</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="eg. Mumbai, Pune, etc.">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">COST</label>
                <div range-slider min="demo2.range.min" max="demo2.range.max" model-min="demo2.minPrice" model-max="demo2.maxPrice" filter="currency:'$'" step="100"></div>

                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="search">
            <div class="filter-title">
              <h4>SEARCH RESULT : 200 RESULT FOUND</h4>
            </div>
            <div class="search-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="search-img">
                <img src="img/search-pro.jpg" alt="">
                  </div>
                  <div class="short">
                    <button type="button" name="button">shortlist</button>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="search-info">
                    <div class="pull-right">
                      <div class="pric">
                        <i class="fa fa-inr"></i>1,500 / 30 Min
                      </div>
                      <div class="btn-book">
                        <button>book now</button>
                      </div>
                    </div>
                  <div class="exp-desg">
                    <h4>WEB DEVELOPER</h4>
                  </div>
                  <div class="exp-name">
                    <h4>DHAVAL GALA</h4>
                  </div>
                  <div class="exp-city">
                    <span>mumbai</span>
                  </div>
                  <div class="exp-brief">
                    <span>Brief BIO:</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem  Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                  </div>
                  <div class="exp-brief">
                    <span>SALES PITCH:</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="exp-brief">
                    <span>SPECIALIZATION:</span>
                    <p>Web developer, App developer, web designer</p>
                  </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="search-box">
              <div class="row">
                <div class="col-md-3">
                  <div class="search-img">
                <img src="img/search-pro2.jpg" alt="">
                  </div>
                  <div class="short">
                    <button type="button" name="button">shortlist</button>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="search-info">
                    <div class="pull-right">
                      <div class="pric">
                        <i class="fa fa-inr"></i>1,500 / 30 Min
                      </div>
                      <div class="btn-book">
                        <button>book now</button>
                      </div>
                    </div>
                  <div class="exp-desg">
                    <h4>APP DEVELOPER</h4>
                  </div>
                  <div class="exp-name">
                    <h4>DHAVAL GALA</h4>
                  </div>
                  <div class="exp-city">
                    <span>mumbai</span>
                  </div>
                  <div class="exp-brief">
                    <span>Brief BIO:</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem  Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                  </div>
                  <div class="exp-brief">
                    <span>SALES PITCH:</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                  <div class="exp-brief">
                    <span>SPECIALIZATION:</span>
                    <p>Web developer, App developer, web designer</p>
                  </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
