<section class="mt70">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main-links mt25">
          <ul class="breadcrumb padding0">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li><a href="#" class="active text-uppercase">signup</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">

    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="conten-box">
          <div class="login-form">
            <h4 class="text-up text-center color-base">Signup</h4>
            <form action="" class="mt20">

              <div class="mail mt10 pos-relative">
                <input type="mail" placeholder="FIRST NAME" class="form-control display-inline log">
                <div class="icon-mail display-inline">
                  <i class="ln-user"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="mail" placeholder="LAST NAME" class="form-control display-inline log">
                <div class="icon-mail display-inline">
                  <i class="ln-user"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="mail" placeholder="EMAIL ADDRESS" class="form-control display-inline log">
                <div class="icon-mail display-inline">
                  <i class="ln-envelope"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="mail" placeholder="MOBILE NUMBER" class="form-control display-inline log">
                <div class="icon-mail display-inline">
                  <i class="ln-phone"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="password" placeholder="PASSWORD" class="form-control display-inline log">
                <div class="icon-mail display-inline">
                  <i class="ln-lock"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="password" placeholder="CONFIRM PASSWORD" class="form-control display-inline log">
                <div class="icon-mail display-inline">
                  <i class="ln-lock"></i>
                </div>
              </div>
              <!-- <div class="forg-pass pull-right mt5">
                <a href="" class="color-primary font-light f13">Forgot password?</a>
              </div> -->
              <div class="mt10">
                <p class="font-light f13">By signing up, I agree to Jacknows Terms of  Service, Privacy
    Policy, Guest Refund Policy,  and Host Guarantee Terms.</p>
              </div>
              <div class="login-btn mt10">
                <button class="btn btn-org f10 font-light">SIGN UP</button>
              </div>
              <div class="other mt20">
                <p class="font-light f13 pt10 margin0">Already an Jacknow member?  <span class="color-primary pointer"  ui-sref="login">Login</span></p>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>
