<section class="mt70 space-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="main-links mt25">
          <ul class="breadcrumb padding0">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li><a href="#" class="active text-uppercase">signup</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">

    <div class="row">
      <div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8">
        <div class="conten-box" ng-hide="alreadyExist || formComplete">
          <div class="login-form">
            <h4 class="text-up text-center color-base">Signup</h4>
            <form name="user" class="mt20">

              <div class="mail mt10 pos-relative">
                <input type="text" placeholder="FIRST NAME" name="firstName" class="form-control display-inline log" id="exampleInputEmail1" ng-model="userForm.firstName" required>
                <div class="error-msg" ng-if="user.firstName.$error.required && user.firstName.$touched">Please Enter Your First Name.</div>
                <div class="icon-mail display-inline">
                  <i class="ln-user"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="text" placeholder="LAST NAME" name="lastName" class="form-control display-inline log" ng-model="userForm.lastName" required>
                <div class="error-msg" ng-show="user.lastName.$error.required && user.lastName.$touched">Please Enter Your Last Name.</div>
                <div class="icon-mail display-inline">
                  <i class="ln-user"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="email" placeholder="EMAIL ADDRESS" name="email" class="form-control display-inline log" ng-model="userForm.email" required>
                <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email.</div>

                <div class="icon-mail display-inline">
                  <i class="ln-envelope"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="text" name="mobile" placeholder="MOBILE NUMBER" class="form-control display-inline log" ng-model="userForm.mobile" required>
                <div class="error-msg" ng-show="user.mobile.$error.required && user.mobile.$touched">Please Enter Your Mobile No.</div>

                <div class="icon-mail display-inline">
                  <i class="ln-phone"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="password" name="password" placeholder="PASSWORD" class="form-control display-inline log" ng-model="userForm.password" required>
                <div class="error-msg" ng-show="user.password.$error.required && user.password.$touched">Please Enter Password.</div>

                <div class="icon-mail display-inline">
                  <i class="ln-lock"></i>
                </div>
              </div>
              <div class="mail mt10 pos-relative">
                <input type="password" name="confirmPassword" placeholder="CONFIRM PASSWORD" class="form-control display-inline log" ng-model="userForm.confirmPassword" required>
                <div class="error-msg" ng-show="user.confirmPassword.$error.required && user.confirmPassword.$touched">Please Confirm Your Password.</div>
                  <uib-alert ng-repeat="alert in mesg" type="{{alert.type}}" class="text-center" dismiss-on-timeout="3000" close="closeAlert($index);">{{alert.msg}}</uib-alert>

                <div class="icon-mail display-inline">
                  <i class="ln-lock"></i>
                </div>
              </div>

              <div class="mt10 text-justify">
                <p class="font-light f13">By signing up, I agree to Jacknows Terms of  Service, Privacy
    Policy, Guest Refund Policy,  and Host Guarantee Terms.</p>
              </div>
              <div class="login-btn mt10">
                <button class="btn btn-animate-org f10 font-light" ng-click="userSignup(user)">SIGN UP</button>
              </div>
              <div class="other mt20 text-justify">
                <p class="font-light f13 pt10 margin0">Already an Jacknow member?  <span class="color-primary pointer"  ui-sref="login">Login</span></p>
              </div>
            </form>
          </div>
      </div>
      <div class="no-data-found" ng-if="alreadyExist && !formComplete">
        <img src="img/owl.png" alt="">
        <h1 class="color-primary">Whoops !</h1>
        <p class="text-cap">User Already Exist !!</p>
      </div>
      <div class="no-data-found" ng-if="formComplete && !alreadyExist">
        <img src="img/owl.png" alt="">
        <h1 class="color-primary">Congratulations !</h1>
        <p class="text-cap">Submitted Successfully, Thank You!</p>
      </div>

      <!-- <div class="reg-msg">
        <h3 class="text-up color-success">congratulations !!</h3>
        <h3 class="text-up color-success">registration has been success</h3>
      </div> -->
    </div>
  </div>
  </div>
</section>
