<section>
  <!-- <div class="search-section">
    <div class="container">
      <div class="search-bar">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-11">
            <form class="form-inline">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search category, expert name, skill..">
                <span class="input-group-btn">
                <button class="btn btn-default text-uppercase" type="button">Search</button>
              </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="">
    <div class="" ng-include="template.searchbar"></div>
  </div>
  <div class="booking-main">
    <div class="container">
      <div class="row">
        <div class="main-links">
          <ul class="breadcrumb">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li><a href="#" class="active text-uppercase">Booking</a></li>
          </ul>
        </div>
      </div>

      <div class="booking-section">
        <uib-tabset>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Awaiting Payment</uib-tab-heading>
            <p>Following calls are confirmed. We will connect you at the scheduled time.</p>
            <div class="row">
              <div class="col-md-4">
                <div class="single-payment">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Rohan Cheddha</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>

                  <button type="button" class="btn text-uppercase">Pay Now</button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-payment">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Rohan Cheddha</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>

                  <button type="button" class="btn text-uppercase">Pay Now</button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-payment">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Dr. Sourabh Joshi</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>

                  <button type="button" class="btn text-uppercase">Pay Now</button>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Schedule Call</uib-tab-heading>
            <p>Following calls are confirmed. We will connect you at the scheduled time.</p>
            <div class="row">
              <div class="col-md-4">
                <div class="single-schedule">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Dr. Sourabh Joshi</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-schedule">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Rohan Cheddha</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-schedule">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Rohan Cheddha</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Awaiting Confirmation</uib-tab-heading>
            <p>Following calls are yet to be confirmed by the experts. Upon confirmation you will be prompted to pay.</p>
            <div class="row">
              <div class="col-md-4">
                <div class="single-awaiting">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Rohan Cheddha</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="single-awaiting">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Rohan Cheddha</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="single-awaiting">
                  <img src="" alt="" class="img-responsive">
                  <span class="name">Rohan Cheddha</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of Expertise</span>
                      <span class="pull-right">Travel</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Completed</uib-tab-heading>
            <p class="font-bold">These is your completed call history. You can print an invoice and even retrieve a recording of your call.</p>
            <div class="row">
              <div class="col-md-4">
                <div class="single-completed">
                  <div class="print-icon">
                    <span class="ln-printer"></span>
                  </div>
                  <div class="user-imgholder margin-auto">
                    <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                  </div>
                  <span class="name">Rohan Cheddha</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="feedback">
                    <span>Provide Feedback</span>
                    <textarea></textarea>
                    <button type="button" class="btn btn-success text-uppercase">Submit</button>
                  </div>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of expertise</span>
                      <span class="pull-right">Health</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                    <div class="duration">
                      <span class="pull-left">Duration</span>
                      <span class="pull-right">45:23 Min</span>
                    </div>
                  </div>

                  <button type="button" class="btn btn-success text-uppercase">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-completed">
                  <div class="print-icon">
                    <span class="ln-printer"></span>
                  </div>
                  <div class="user-imgholder margin-auto">
                    <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive">
                  </div>
                  <span class="name">Dr. Sourabh Joshi</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="feedback">
                    <span>Provide Feedback</span>
                    <textarea></textarea>
                    <button type="button" class="btn btn-success text-uppercase">Submit</button>
                  </div>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of expertise</span>
                      <span class="pull-right">Health</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                    <div class="duration">
                      <span class="pull-left">Duration</span>
                      <span class="pull-right">45:23 Min</span>
                    </div>
                  </div>

                  <button type="button" class="btn btn-success text-uppercase">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-completed">
                  <div class="print-icon">
                    <span class="ln-printer"></span>
                  </div>
                  <div class="user-imgholder margin-auto">
                    <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive">
                  </div>
                  <span class="name">Dr. Sourabh Joshi</span>
                  <span class="price"><i class="fa fa-inr"></i> 500/-</span>

                  <div class="feedback">
                    <span>Provide Feedback</span>
                    <textarea></textarea>
                    <button type="button" class="btn btn-success text-uppercase">Submit</button>
                  </div>

                  <div class="user-data">
                    <div class="area">
                      <span class="pull-left">Area of expertise</span>
                      <span class="pull-right">Health</span>
                    </div>
                    <div class="date">
                      <span class="pull-left">Book Date</span>
                      <span class="pull-right">20th March, 2016</span>
                    </div>
                    <div class="time">
                      <span class="pull-left">Book Time</span>
                      <span class="pull-right">3:00 IST</span>
                    </div>
                    <div class="duration">
                      <span class="pull-left">Duration</span>
                      <span class="pull-right">45:23 Min</span>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success text-uppercase">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Account History</uib-tab-heading>
            <p class="font-bold">Account History</p>
            <div class="completed-section mt30">
              <p class="text-uppercase font-bold color-success">Completed</p>
              <table class="table text-uppercase account-history font-light text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td><img src="img/search-pro2.jpg" alt="" class="img-responsive display-inline img-circle completed" /> Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Completed <br><button class="btn btn-success mt10">PRINT INVOICE</button><br>
                  <button class="btn btn-success block text-uppercase mt10">Retrieve Call (Coming Soon)</button></td>
                  <td>500/-</td>
                </tr>
              </table>
            </div>

            <div class="refunded-section mt30">
              <p class="text-uppercase font-bold color-success">Refunded Status</p>
              <table class="table text-uppercase account-history text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td><img src="img/search-pro2.jpg" alt="" class="img-responsive margin-auto img-circle completed" /> Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Pending <br><button class="btn btn-success mt10">PRINT INVOICE</button></td>
                  <td>500/-</td>
                </tr>
              </table>
            </div>

            <div class="cancelled-section mt30">
              <p class="text-uppercase color-success font-bold">Cancelled</p>
              <table class="table text-uppercase account-history text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td>Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Cancelled <br><button class="btn btn-success mt10">PRINT INVOICE</button></td>
                  <td>500/-</td>
                </tr>
              </table>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</section>
