<section>
  <div class="">
    <div class="" ng-include="template.searchbar"></div>
  </div>
  <div class="booking-main">
    <div class="container">
      <div class="row">
        <div class="main-links">
          <ul class="breadcrumb">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li><a href="#" class="active text-uppercase">Booking</a></li>
          </ul>
        </div>
      </div>
      <div class="booking-section">
        <uib-tabset>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Awaiting Payment</uib-tab-heading>
            <p class="font-bold tag-line">Following calls are awaiting payment. Please pay now to confirm the call.</p>
            <div class="row">
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle  img-responsive">
                    </div>
                    <span class="name block font-bold">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="mt20 full-width btn btn-success text-uppercase">Pay Now</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name block font-bold">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="mt20 full-width btn btn-success text-uppercase">Pay Now</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name block font-bold">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="mt20 full-width btn btn-success text-uppercase">Pay Now</button>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Schedule Call</uib-tab-heading>
            <p class="font-bold tag-line">Following calls are confirmed. We will connect you at the scheduled time.</p>
            <div class="row">
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Awaiting Confirmation</uib-tab-heading>
            <p class="font-bold tag-line">Following calls are yet to be confirmed by the experts. Upon confirmation you will be prompted to pay.</p>
            <div class="row">
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-schedule single-completed">
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name font-bold block">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of Expertise</span>
                        <span class="pull-right">Travel</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Completed</uib-tab-heading>
            <p class="font-bold tag-line">These is your completed call history. You can print an invoice and even retrieve a recording of your call.</p>
            <div class="row">
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-completed">
                    <div class="print-icon">
                      <span class="ln-printer color-grey"></span>
                    </div>
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name block font-bold">Rohan Cheddha</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="feedback text-left">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control"></textarea>
                      <div class="text-center">
                        <button type="button" class="btn btn-success text-uppercase">Submit</button>
                      </div>
                    </div>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of expertise</span>
                        <span class="pull-right">Health</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                      <div class="duration user-detail clearfix">
                        <span class="pull-left color-grey">Duration</span>
                        <span class="pull-right">45:23 Min</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success text-uppercase mt10">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-completed">
                    <div class="print-icon">
                      <span class="ln-printer color-grey"></span>
                    </div>
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive">
                    </div>
                    <span class="name block font-bold">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="feedback text-left">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control"></textarea>
                      <div class="text-center">
                        <button type="button" class="btn btn-success text-uppercase">Submit</button>
                      </div>
                    </div>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of expertise</span>
                        <span class="pull-right">Health</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                      <div class="duration user-detail clearfix">
                        <span class="pull-left color-grey">Duration</span>
                        <span class="pull-right">45:23 Min</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success text-uppercase mt10">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-completed">
                    <div class="print-icon">
                      <span class="ln-printer color-grey"></span>
                    </div>
                    <div class="user-imgholder margin-auto">
                      <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive" />
                    </div>
                    <span class="name block font-bold">Dr. Sourabh Joshi</span>
                    <span class="price color-success"><i class="fa fa-inr"></i> 500/-</span>

                    <div class="feedback text-left">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control"></textarea>
                      <div class="text-center">
                        <button type="button" class="btn btn-success text-uppercase">Submit</button>
                      </div>
                    </div>

                    <div class="user-data">
                      <div class="area user-detail clearfix">
                        <span class="pull-left color-grey">Area of expertise</span>
                        <span class="pull-right">Health</span>
                      </div>
                      <div class="date user-detail clearfix">
                        <span class="pull-left color-grey">Book Date</span>
                        <span class="pull-right">20th March, 2016</span>
                      </div>
                      <div class="time user-detail clearfix">
                        <span class="pull-left color-grey">Book Time</span>
                        <span class="pull-right">3:00 IST</span>
                      </div>
                      <div class="duration user-detail clearfix">
                        <span class="pull-left color-grey">Duration</span>
                        <span class="pull-right">45:23 Min</span>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success text-uppercase mt10">Retrieve Call (Coming Soon)</button>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Account History</uib-tab-heading>
            <p class="font-bold tag-line">Account History</p>
            <div class="completed-section mt30">
              <p class="text-uppercase font-bold color-success">Completed</p>
              <table class="table text-uppercase account-history font-light text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td><img src="img/search-pro2.jpg" alt="" class="img-responsive display-inline img-circle completed" /> Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Completed
                    <br>
                    <button class="btn btn-success mt10">PRINT INVOICE</button>
                    <br>
                    <button class="btn btn-success text-uppercase mt10">Retrieve Call (Coming Soon)</button>
                  </td>
                  <td>500/-</td>
                </tr>
              </table>
            </div>

            <div class="refunded-section mt30">
              <p class="text-uppercase font-bold color-success">Refunded Status</p>
              <table class="table text-uppercase account-history text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td><img src="img/search-pro2.jpg" alt="" class="img-responsive margin-auto img-circle completed" /> Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Pending
                    <br>
                    <button class="btn btn-success mt10">PRINT INVOICE</button>
                  </td>
                  <td>500/-</td>
                </tr>
              </table>
            </div>

            <div class="cancelled-section mt30">
              <p class="text-uppercase color-success font-bold">Cancelled</p>
              <table class="table text-uppercase account-history text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td>Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Cancelled
                    <br>
                    <button class="btn btn-success mt10">PRINT INVOICE</button>
                  </td>
                  <td>500/-</td>
                </tr>
              </table>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</section>
