<section class="mt70">
  <div class="">
    <div class="" ng-include="template.searchbar"></div>
  </div>
  <div class="booking-main">
    <div class="container">
      <div class="row">
        <div class="main-links">
          <ul class="breadcrumb">
            <li><a href="#/home" class="text-uppercase">Home</a></li>
            <li><a href="#" class="active text-uppercase">User Booking</a></li>
          </ul>
        </div>
      </div>
      <div class="booking-section">
        <uib-tabset>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Awaiting Payment</uib-tab-heading>
            <p class="font-bold tag-line">Following calls are awaiting payment. Please pay now to confirm the call.</p>
            <!-- <div class="choose-color">
              <p class="font-bold tag-line"></p>
            </div> -->
            <div class="row">
              <div class="col-md-3"  ng-repeat="booking in userBooking" ng-if="booking.status=='awaitingpayment'">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="{{booking.image}}" alt="" class="img-circle img-responsive">
                      </div>
                      <span class="name block font-bold mt5">{{booking.expert}}</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> {{booking.finalAmount}}/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">{{booking.areaOfExpertise}}</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">{{booking.bookDate| date : "dd.MM.y"}}</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">{{booking.bookTime |date : "h:mm a"}}</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive">
                      </div>
                      <span class="name block font-bold mt5">Rohan Cheddha</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">Area of expertise</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive">
                      </div>
                      <span class="name block font-bold mt5">Rohan Cheddha</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">Area of expertise</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Schedule Call</uib-tab-heading>
            <p class="font-bold tag-line">Following calls are confirmed. We will connect you at the scheduled time.</p>
            <div class="row">
              <div class="col-md-3" ng-repeat="booking in userBooking" ng-if="booking.status=='schedulecall'">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro3.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">{{booking.expert}}</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> {{booking.finalAmount}}/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">{{booking.areaOfExpertise}}</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">{{booking.bookDate| date : "dd.MM.y"}}</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">{{booking.bookTime |date : "h:mm a"}}</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro2.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">Rohan Cheddha</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">Area of expertise</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro2.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">Rohan Cheddha</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">Area of expertise</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Awaiting Confirmation</uib-tab-heading>
            <p class="font-bold tag-line">Following calls are yet to be confirmed by the experts. Upon confirmation you will be prompted to pay.</p>
            <div class="row">
              <div class="col-md-3" ng-repeat="booking in userBooking" ng-if="booking.status=='awaitingconfirmation'">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro2.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">{{booking.expert}}</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> {{booking.finalAmount}}/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">{{booking.areaOfExpertise}}</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">{{booking.bookDate| date : "dd.MM.y"}}</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">{{booking.bookTime |date : "h:mm a"}}</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro2.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">Rohan Cheddha</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">Area of expertise</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro3.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">Rohan Cheddha</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">Area of expertise</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Completed</uib-tab-heading>
            <p class="font-bold tag-line">These is your completed call history. You can print an invoice and even retrieve a recording of your call.</p>
            <div class="row">
              <div class="col-md-3" ng-repeat="booking in userBooking" ng-if="booking.status=='completed'" >
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro3.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">{{booking.expert}}</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> {{booking.finalAmount}}/-</span>
                    </div>


                    <div class="feedback text-left" ng-hide="formComplete">
                      <form name="user" class="form-input">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control" name="feedback" ng-model="userBookingsubmit.feedback" required> </textarea>
                      <div class="error-msg" ng-show="user.feedback.$error.required && user.feedback.$touched">Please Enter Your Feedback.</div>
                      <div class="text-center mb10">
                        <button type="button" class="btn btn-animate-success text-uppercase" ng-click="feedback(user,booking._id)">Submit</button>
                      </div>
                      </form>
                    </div>


                    <div class="user-info" ng-hide="!formComplete">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">{{booking.areaOfExpertise}}</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">{{booking.bookDate| date : "dd.MM.y"}}</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">{{booking.bookTime |date : "h:mm a"}}</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment ">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro2.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">Rohan Cheddha</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                    </div>
                     <div class="feedback text-left">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control"></textarea>
                      <div class="text-center mb10">
                        <button type="button" class="btn btn-animate-success text-uppercase">Submit</button>
                      </div>
                    </div>
                    <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">Area of expertise</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-md-3">
                <div class="outline-single">
                  <div class="single-payment">
                    <div class="user-bg text-center">
                      <div class="user-imgholder margin-auto">
                        <img src="img/search-pro3.jpg" alt="" class="img-responsive">
                      </div>
                      <span class="name block font-bold mt5">Rohan Cheddha</span>
                      <span class="price color-success block font-bold mt5"><i class="fa fa-inr"></i> 500/-</span>
                    </div>
                    <div class="feedback text-left">
                      <span class="color-grey">Provide Feedback</span>
                      <textarea class="form-control"></textarea>
                      <div class="text-center mb10">
                        <button type="button" class="btn btn-animate-success text-uppercase">Submit</button>
                      </div>
                    </div>
                  <div class="user-info">
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object user-info-icon ln-trophy color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">Travel</h5>
                          <span class="color-grey">Area of expertise</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-calendar2 user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">20th Mar, 2016</h5>
                          <span class="color-grey">Book Date</span>
                        </div>
                      </div>
                      <div class="media">
                        <a class="media-left" href="#">
                          <span class="media-object ln-clock user-info-icon color-success"></span>
                        </a>
                        <div class="media-body">
                          <h5 class="media-heading">3:00 IST</h5>
                          <span class="color-grey">Book Time</span>
                        </div>
                      </div>
                    </div>  -->
                  <!-- </div>
                </div>
              </div> -->
            </div>
          </uib-tab>
          <uib-tab>
            <uib-tab-heading class="text-uppercase">Account History</uib-tab-heading>
          <div class="display-inline">
              <p class="font-bold tag-line">Account History</p>
          </div>
            <div class="filt display-inline">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  SORT BY CATEGORY
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Cancelled</a></li>
                  <li><a href="#">Completed</a></li>
                  <li><a href="#">Refunded</a></li>

                </ul>
              </div>
            </div>
            <div class="completed-section mt30" ng-repeat="booking in userBooking" >
              <p class="text-uppercase font-bold color-success">{{booking.status}}</p>
              <table class="table text-uppercase account-history font-light text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td><img src="{{booking.image}}" alt="" class="img-responsive display-inline img-circle completed" /> {{booking.expert}}</td>
                  <td>{{booking.callDuration |date : "h:mm a"}}</td>
                  <td>{{booking.bookDate | date : "dd.MM.y"}}</td>
                  <td>{{booking.status}}


                  </td>
                  <td>{{booking.finalAmount}}
                    <br>
                    <button class="btn btn-animate-success mt10 f12">PRINT INVOICE</button>
                    <br>
                      <button class="btn btn-animate-success text-uppercase mt10 f12">Retrieve Call (Coming Soon)</button>
                  </td>
                </tr>
              </table>
              <!-- <table class="table text-uppercase account-history text-center">
                <tr>
                  <th>Expert Name</th>
                  <th>Call Duration</th>
                  <th>Book Date</th>
                  <th>Status</th>
                  <th>Total Amount</th>
                </tr>
                <tr>
                  <td><img src="img/search-pro2.jpg" alt="" class="img-responsive display-inline img-circle completed" /> Dr. Satish Chahhda</td>
                  <td>45:00 Min</td>
                  <td>20th March, 2016</td>
                  <td>Pending

                  </td>
                  <td>500/-
                    <br>
                    <button class="btn btn-animate-success mt10 f12">PRINT INVOICE</button></td>
                </tr>
              </table> -->
            </div>


          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</section>
