<footer>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-menu">
            <ul>
              <li>
                <a href="">
                  Login/Signup
                </a>
              </li>
              <li>
                <a href="">
                  Home
                </a>
              </li>
              <li>
                <a href="">
                  Calendar
                </a>
              </li>
              <li>
                <a href="">
                  Bookings Page
                </a>
              </li>
              <li>
                <a href="">
                Profile Page
                </a>
              </li>
              <li>
                <a href="">
                Account
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-menu">
            <ul>
              <li>
                <a href="">
                  About Us
                </a>
              </li>
              <li>
                <a href="">
                  Contact Us
                </a>
              </li>
              <li>
                <a href="">
                  FAQ
                </a>
              </li>
              <li>
                <a href="">
                Terms & Condition
                </a>
              </li>
              <li>
                <a href="">
              Privacy Policy
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="newsletter">
            <h4>Newsletter</h4>
            <p>Lorem Ipsum is simply dummy text of the printing
and typesetting industry. </p>
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="social">
  <span>Be Social & Stay Connected</span>

  <div class="social-set">
    <ul>
      <li>
        <a href="">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
          </div>

        </div>
      </div>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
