<footer class="mt60 footer">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-menu">
          <ul>
            <li>
              <a href="">
                  Login/Signup
                </a>
            </li>
            <li>
              <a href="">
                  Home
                </a>
            </li>
            <li>
              <a href="">
                  Calendar
                </a>
            </li>
            <li>
              <a href="">
                  Bookings Page
                </a>
            </li>
            <li>
              <a href="">
                Profile Page
                </a>
            </li>
            <li>
              <a href="">
                Account
                </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-menu">
          <ul>
            <li>
              <a href="">
                  About Us
                </a>
            </li>
            <li>
              <a href="">
                  Contact Us
                </a>
            </li>
            <li>
              <a href="">
                  FAQ
                </a>
            </li>
            <li>
              <a href="">
                Terms & Condition
                </a>
            </li>
            <li>
              <a href="">
              Privacy Policy
                </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="newsletter">
          <h4 class="color-grey font-med font-raleway">Newsletter</h4>
          <p class="font-light color-base">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <div class="display-inline">
          <form>
            <div class="form-group pull-left">
              <input type="text" class="form-control bk-grey">
            </div>
            <button type="submit" class="btn btn-org">SUBMIT</button>
          </form>
        </div>
          <div class="social">
            <span class="color-base font-light">Be Social & Stay Connected</span>

            <div class="social-set">
              <ul class="padding0">
                <li>
                  <a href="">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>
<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="margin0">Copyright &copy; {{template.year}}. All Right Resvered.</p>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <p class="margin0">Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
