<!-- <object class="embed-responsive-item">
  <param class="black-overlay"></param>
</object> -->
<header>
   <nav class="navbar navbar-default header2 navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand display-inline" href="#/home"><img src="img/options2.png" alt="menu" width="30"> </a>
              <div class="logo display-inline" style="margin: 16px 0px 0px 18px;">
                <a ui-sref="home"><img src="img/logo2.png" alt="" class="img-responsive" width="180" alt="logo" title="logo" ></a>
                <!-- <span class="f13 font-bold color-success exp">EXPERT</span> -->
              </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="righ-side pull-right custom-li mt10">
            <ul>
              <li>
                <a href="">
                  <button class="btn-become2 btn font-bold">Become an expert</button>
                </a>
              </li>
              <li>
                <a href="" class="color-base" ng-click="open('sm')"><img src="img/close2.png" alt="" width="30"></a>
              </li>
              <li>
                <a href="">
                  <img src="img/help2.png" alt="" width="30">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

<!--
        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div> -->
    </div>
</nav>
</header>
