<!-- <object class="embed-responsive-item">
  <param class="black-overlay"></param>
</object> -->
<header class="pos-relative {{expertlogo}} {{userlogo}} {{home}} {{experthome}}" ng-controller="headerctrl">
  <nav class="navbar navbar-default navbar-fixed-top header-white-black wow fadeInDown" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand display-inline">
              <!-- <img src="img/options.png" alt="menu" width="30">  -->
              <button type="button" class="hamburger" ng-click="getMenu();">
                <span class=""></span>
                <span class=""></span>
                <span class=""></span>
              </button>
            </a>
            <div class="logo display-inline ">
              <a ui-sref="home" class="display-inline">
                <img src="img/logop.png" alt="" class="img-responsive home-logo " width="180" alt="logo" title="logo">
                <img src="img/logo2.png" alt="" class="img-responsive expertise-logo" width="180" alt="logo" title="logo">
                <img src="img/logou.png" alt="" class="img-responsive user-logo " width="180" alt="logo" title="logo">
                <img src="img/logoe.png" alt="" class="img-responsive expert-home " width="180" alt="logo" title="logo">
              </a>
              <!-- <span class="f13 font-bold color-success exp">EXPERT</span> -->
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-7">
          <div class="righ-side pull-right custom-li mt10">
            <ul>
              <li>
                  <a ui-sref="home-expert">
                  <button class="btn-animate-become b btn font-bold btn-1 btn-1b">Become an expert</button>
                </a>
              </li>
              <li class="notify-bell profile pointer">
                <a href="" class=" display-inline">
                  <img src="img/noti-white.png" alt="" class=" noti-icon white-img" width="30">
                  <img src="img/noti-black.png" alt="" class=" noti-icon black-img" width="30">
                </a>
                <div class="noti-badge">
                  <a href=""><span>2</span></a>
                </div>
                <div class="notification view-dropdown" ui-sref="user-booking">
                  <h4 class="text-center font-light color-grey">Notifications</h4>
                  <div class="notify">
                    <div class="notification-list clearfix">
                      <div class="pull-left">
                        <div class="notify-imgholder">
                          <img src="img/search-pro2.jpg" alt="" class="img-circle img-responsive" width="30">
                        </div>
                      </div>
                      <div class="descp-noti">
                        <p>You have to get on a call with <b>Raj Malhotra</b> on 2nd Jan 2016 @ 4:30 pm</p>
                      </div>
                    </div>
                    <div class="notification-list clearfix" ui-sref="user-booking">
                      <div class="pull-left">
                        <div class="notify-imgholder">
                          <img src="img/search-pro3.jpg" alt="" class="img-circle img-responsive" width="30">
                        </div>
                      </div>
                      <div class="descp-noti">
                        <p>Your call has been confirmed with <b>Jay Visariya</b> on 5th jan 2016 @ 3pm. <a href="" class="color-success">PAY NOW</a> to book your call</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="profile pointer">{{userdata.firstName}}
                <a href="" class="display-inline user-icon">
                  <img class="color-white white-img" src="img/log.png" alt="" width="30" ng-show="userLogedin"/>
                  <img class="color-white white-img" src="img/log.png" alt="" width="30" ui-sref="login" ng-show="!userLogedin"/>
                  <img class="color-base black-img" src="img/close2.png" alt="" width="30" ng-show="userLogedin">
                  <img class="color-base black-img" src="img/close2.png" alt="" width="30" ui-sref="login" ng-show="!userLogedin"/>
                </a>
                <ul class="view-dropdown" ng-show="userLogedin">
                  <li><a href="" class="text-uppercase" title="Your Booking" ui-sref="user-booking">your booking</a></li>
                  <li><a href="" class="text-uppercase" title="short list" ui-sref="wishlist">short list</a></li>
                  <li><a href="" class="text-uppercase" title="Edit Account" ui-sref="edit-user({id:userdata._id})">edit account</a></li>
                  <li><a ui-sref="home" class="text-uppercase" title="Logout" ng-click="logout();">logout</a></li>
                </ul>

                <ul class="view-dropdown" ng-show="!userLogedin">

                </ul>
              </li>
              <li>
                <a href="" class="display-inline">
                  <img src="img/help2.png" class="black-img" alt="" width="30" ui-sref="faq">
                  <img src="img/help.png" class="white-img" alt="" width="30" ui-sref="faq">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--
        <div class="collapse navbar-collapse" id="nav-collapse">
               <div ng-include="template.menu" class="template menu"></div>
        </div> -->
      <div class="side-menu {{menu}}">
        <span ng-click="closeMenu();" class="closemenu {{menu}}"><i class="ln-cross"></i></span>
        <span class="heading-menu">Menu</span>
        <div class="template menu" ng-include="template.menu"></div>
        <div class="mt30">
          <button class="btn btn-become text-uppercase ask-jack">ask jack</button>
        <button class="btn btn-become text-uppercase become-expert">become an expert</button>
        </div>
      </div>
    </div>
  </nav>
</header>
