<div class="pos-relative sec-searchbar">
  <img src="img/search-bar.jpg" alt="Search" class="img-responsive">
  <div class="container">
    <div class="searchbar-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <form action="" class="pos-relative">
              <div class="search-icon display-inline">
                <img src="img/search-mini.png" alt="">
              </div>
              <div class="search-br">
                <input type="text" name="name" value="" class="form-control" placeholder="Search category, expertname, skill..">
              </div>
              <div class="search-btn display-inline">
                <button class="btn btn-animate-org">SEARCH</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
