<div class="pos-relative sec-searchbar">
  <img src="img/search-bar.jpg" alt="Search" class="img-responsive">
  <div class="container">
    <div class="searchbar-center">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-sm-12 mrl48">
            <form action="" class="pos-relative">
              <div class="search-icon display-inline">
                <img src="img/search-mini.png" alt="">
              </div>
              <div class="search-br searchbr">
                <input type="text" name="name" class="form-control" placeholder="Search category, expertname, skill.." ng-model="expertdata2.search">
              </div>
              <div class="search-btn searchbtn display-inline"><a ui-sref="search({search:expertdata2.search})">
                <button class="btn btn-animate-org" ng-disabled="expertdata2.search.length==null || expertdata2.search.length==0">SEARCH</button></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
