<div class="pos-relative sec-searchbar">
  <img src="img/search-bar.jpg" alt="Search" class="img-responsive">
  <div class="container">
    <div class="searchbar-center">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-sm-12 mrl48">
            <form action="" class="pos-relative">
              <div class="search-icon display-inline">
                <img src="img/search-mini.png" alt="">
              </div>
              <div class="search-br searchbr pos-relative">
                <!-- <ui-select ng-model="expertdata.search" ng-change="" style="width: 100%;" title="Search Movie" class="search-drop">
                    <ui-select-match placeholder="Search for a Movie">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="cat in categoryNames | filter: {name:$select.search}">
                        <div class="movi-src-rslt">
                            <div class="display-inline ml15">
                                <span ng-bind-html="movie.name"></span>
                            </div>
                        </div>
                    </ui-select-choices>
                </ui-select> -->
                <!-- <input type="text" name="name" class="form-control" placeholder="Search category, expertname, skill.." ng-model="expertdata2.search"> -->
                <input type="text" ng-mousedown="isShow = true" ng-init="isShow = false" name="name" value="search" class="form-control" placeholder="Select your Sector from one of the Sector below" ng-model="expertdata2.search">
                <div class="cs-drop em-ch" ng-if="isShow">
                    <ul>
                        <li ui-sref="search({search:'Education'})">
                            Education / Student Counselling
                        </li>
                        <li ui-sref="search({search:'Career Counselling'})">
                            Career Counselling
                        </li>
                        <li ui-sref="search({search:'Image Counselling'})">
                            Image Counselling / Grooming
                        </li>
                        <li ui-sref="search({search:'Relationship Counselling'})">
                            Relationship Counselling
                        </li>
                        <li ui-sref="search({search:'Stress'})">
                            Stress / Depression / Anxiety
                        </li>
                        <li ui-sref="search({search:'Meditation'})">
                            Meditation
                        </li>
                        <li ui-sref="search({search:'Life Skills'})">
                            Life Skills
                        </li>
                        <li ui-sref="search({search:'Support'})">
                            Personality
                        </li>
                        <li ui-sref="search({search:'Alternate'})">
                            Alternate / Spiritual Healing
                        </li>
                        <li ui-sref="search({search:'Child Behaviour'})">
                            Child Behaviour
                        </li>
                        <li ui-sref="search({search:'Adolescence Counselling'})">
                            Adolescence Counselling
                        </li>
                    </ul>
                </div>


              </div>
              <div class="search-btn searchbtn display-inline"><a ui-sref="search({search:expertdata2.search})">
                <button class="btn btn-animate-org">SEARCH</button></a>
                <!-- <button class="btn btn-animate-org" ng-disabled="expertdata2.search.length==null || expertdata2.search.length==0">SEARCH</button></a> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
