<div class="modal-content">
  <div class="modal-header">
      <div class="pull-right pclose">
          <img src="img/pclose.png" alt="" ng-click="$dismiss()" width="25" class="pointer">
      </div>
      <h6 class="modal-title text-center margin0 color-grey text-up">available DAY</h6>
  </div>
    <div class="modal-body">
        <div class="day-data">
            <table class="table">
                <tr>
                    <th ng-repeat="myday in expertprofile.callSettings">{{myday.day}}</th>
                    <!-- <th ng-if="expertprofile.callSettings.callTime=='weekend'">Weekend(SAT And SUN)
                      <th ng-if="expertprofile.callSettings.callTime=='weekdays'">Weekdays(MON To SUN) -->
                    <!-- <th>MONADAY</th>
                    <th>MONADAY</th>
                    <th>MONADAY</th>
                    <th>MONADAY</th>
                    <th>MONADAY</th> -->
                </tr>
                <tr>
                    <td ng-repeat="myday in expertprofile.callSettings">
                        {{myday.fromTime | date:'h:mm a'}} to {{myday.toTime | date:'h:mm a'}}
                    </td>
                    <!-- <td>
                        9:00 AM to 10:00 PM
                    </td>
                    <td>
                        9:00 AM to 10:00 PM
                    </td>
                    <td>
                        9:00 AM to 10:00 PM
                    </td>
                    <td>
                        9:00 AM to 10:00 PM
                    </td>
                    <td>
                        9:00 AM to 10:00 PM
                    </td> -->
                </tr>
            </table>
        </div>
    </div>

</div>
<!-- /.modal-content -->
