
    <div class="modal-content">

      <div class="modal-body">
<div class="day-data">
  <table class="table">
    <tr>
      <th>MONADAY</th>
      <th>MONADAY</th>
      <th>MONADAY</th>
      <th>MONADAY</th>
      <th>MONADAY</th>
      <th>MONADAY</th>
    </tr>
    <tr>
      <td>
        9:00 AM to 10:00 PM
      </td>
      <td>
        9:00 AM to 10:00 PM
      </td>
      <td>
        9:00 AM to 10:00 PM
      </td>
      <td>
        9:00 AM to 10:00 PM
      </td>
      <td>
        9:00 AM to 10:00 PM
      </td>
    </tr>
  </table>
</div>
      </div>

    </div><!-- /.modal-content -->
