<div class="modal-content">
    <div class="modal-header">
        <div class="pull-right pclose">
            <img src="img/pclose.png" alt="" ng-click="$dismiss()" width="25" class="pointer">
        </div>
        <h6 class="modal-title text-center margin0 color-grey">FORGOT PASSWORD</h6>
    </div>
    <form name="user" ng-submit="forgotpswdClick(userForm)" ng-hide="changeSuccess">
        <div class="modal-body">
            <div class="mt10">
                <p class="font-light f10">Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
            </div>
            <div class="mail mt10 pos-relative">
                <input type="email" name="email" placeholder="EMAIL ADDRESS" class="form-control display-inline log" ng-model="userForm.email" required>
                <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email.</div>
                <div class="icon-mail display-inline">
                    <i class="ln-envelope"></i>
                </div>
            </div>

            <div class="login-btn mt20">
                <button class="btn btn-animate-org f10 font-light">FORGOT PASSOWORD</button>
            </div>
        </div>
    </form>
    <div ng-show="changeSuccess">
      <p style="padding:0 10px">
        We have sent you a temporary password on your registered e-mail ID. You may use that to login for now.
      </p>
    </div>

</div>
