
    <div class="modal-content">

      <div class="modal-body">
      <div class="login-form">
        <form action="">
          <div class="social-btn text-center">
            <button class="btn btn-facebook"><span><i class="fa fa-facebook pull-left"></i></span>LOGIN WITH FACEBOOK</button>
          </div>
          <div class="social-btn text-center">
            <button class="btn btn-google"><span><i class="fa fa-google-plus pull-left"></i></span>LOGIN WITH GOOGLE-PLUS</button>
          </div>
          <div class="or text-center">
            <span>OR</span>
          </div>
          <div class="mail">
            <input type="mail" placeholder="EMAIL ADDRESS">
            <div class="icon-mail">
              <i class="ln-envelope"></i>
            </div>
          </div>
          <div class="mail">
            <input type="password" placeholder="PASSWORD">
            <div class="icon-mail">
              <i class="ln-lock"></i>
            </div>
          </div>
          <div class="forg-pass">
            <a href="">Forgot password?</a>
          </div>
          <div class="login-btn">
            <button class="btn">LOGIN</button>
          </div>
          <div class="other">
            <p>Don’t have an account? <span>Sign up</span></p>
          </div>
        </form>
      </div>
      </div>

    </div><!-- /.modal-content -->
