
    <div class="modal-content">

      <div class="modal-body">
      <div class="login-form">
        <form action="">
          <div class="social-btn text-center">
            <button class="btn btn-facebook f10 font-light"><span><i class="fa fa-facebook pull-left"></i></span>LOGIN WITH FACEBOOK</button>
          </div>
          <div class="social-btn text-center mt10">
            <button class="btn btn-google f10 font-light"><span><i class="fa fa-google-plus pull-left"></i></span>LOGIN WITH GOOGLE-PLUS</button>
          </div>
          <div class="or text-center mt15">
            <span>OR</span>
          </div>
          <div class="mail mt10 pos-relative">
            <input type="mail" placeholder="EMAIL ADDRESS" class="form-control display-inline log">
            <div class="icon-mail display-inline">
              <i class="ln-envelope"></i>
            </div>
          </div>
          <div class="mail mt10 pos-relative">
            <input type="password" placeholder="PASSWORD" class="form-control display-inline log">
            <div class="icon-mail display-inline">
              <i class="ln-lock"></i>
            </div>
          </div>
          <div class="forg-pass pull-right mt5">
            <a href="" class="color-primary font-light f13">Forgot password?</a>
          </div>
          <div class="login-btn mt50">
            <button class="btn btn-org f10 font-light">LOGIN</button>
          </div>
          <div class="other mt20">
            <p class="font-light f13 pt10 margin0">Don’t have an account? <span class="color-primary pointer" ng-click="open2('sm'); $dismiss()">Sign up</span></p>
          </div>
        </form>
      </div>
      </div>

    </div><!-- /.modal-content -->
