

    <div class="modal-content">
      <div class="modal-header">
<div class="pull-right pclose">
  <img src="img/pclose.png" alt="" ng-click="$dismiss()" width="25" class="pointer">
</div>
        <h6 class="modal-title text-center margin0 color-grey">NEED HELP</h6>
      </div>
      <div class="modal-body">
        <div class="mt10">
          <p class="font-light f13">In case we have not been able to address your query  through the main
search function, please enter your question here. Our backend team
will endeavour to connect you to a relevant expert.</p>
<p class="font-light f13">If you got here by mistake click here to go back to <span ng-click="$dismiss()" class="color-success">Home/ Search</span></p>
        </div>
        <div class="mail mt20 pos-relative">
          <select class="form-control display-inline log">
  <option>PLEASE SELECT A CATEGORY</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
          <div class="icon-mail display-inline arrow">
            <i class="ln-chevron-down"></i>
          </div>
        </div>
        <div class="mt10">
          <textarea class="form-control log" rows="6"></textarea>
        </div>
        <div class="login-btn mt20">
          <button class="btn btn-org f10 font-light">SUBMIT</button>
        </div>
      </div>

    </div>
